<div class="footer d-flex justify-content-between  px-5 py-5 mb-0 ">
    <div class="part1 px-5 py-5">
        <div class=" cont d-flex flex-colum align-items-center"><h4>contacts</h4></div>
        <div class="phone d-flex align-items-center  ">
            <img src="../../assets/images/ph_phone-thin.png" class="pb-3 icon1">
            <div class="phone  align-items-center" ><p>0100000000</p></div>
        </div>


        <div class="d-flex flex-colum align-items-center ">
         <img src="../../assets/images/ic_outline-email.png" class="pb-3 icon1">
         <div class="scoby  align-items-center"><p>Scooby@exp.com</p></div>
        </div>


        <div class="d-flex flex-colum align-items-center ">
            <img src="../../assets/images/bytesize_location.png" class="pb-3 icon1">
            <div class="location align-items-center"><p>Ismailia, Egypt</p></div>
        </div>

        </div>


        <div class="part2 px-5 py-5">

            <div class="font py-2 px-5 ms-5">
              <h5>Let’s Get In Touch</h5>
            </div>
            <div class=" d-flex py-4 mb-3 ">

                <div class=" mb-3  ">

                  <input class="py-2 px-5 border rounded-lg n"type="email"  id="email" placeholder="Enter your email">
              </div>
              <div >
                <button class="  py-2 px-3 border rounded-lg connect" type="button" >Connect</button>
              </div>
            </div>
            <div class="px-5 py-2 " style="padding-left: 50%;">
              <p class="all">all rights reserved © 2024</p>
            </div>
                  </div>


                  <div class="part3  px-5 ">
                    <div class="py-5" >
                        <ul class="list-unstyled ms-5   ">
                            <li>
                                <a routerLink="/terms" class="">Terms & Conditions</a>
                            </li>
                            <li>
                                <a routerLink="/privacy-policy" class="px-3">Privacy policy</a>
                            </li>
                            <li>
                                <a routerLink="/about-us" class="px-4">About Us</a>
                            </li>

                            <li>
                                <a routerLink="/help" class="px-5">Help</a>
                            </li>

                        </ul>
                  </div>

                  <div class="d-flex justify-content-between m py-3">
                    <a href=" " target="_blank">
                      <img src="../../assets/images/bi_facebook.png" alt="Facebook Icon">
                    </a>
                    <a href=" " target="_blank">
                      <img src="../../assets/images/devicon_twitter.png" alt="twitter Icon">
                    </a>
                    <a href=" " target="_blank">
                      <img src="../../assets/images/skill-icons_instagram.png" alt="instgram Icon">
                    </a>

                  </div>
                  </div>





</div>
