.icon1{
    padding-right: 10px;
    width: 34px;
color: #F5F3F3;
}
.font{
    color: #F5F3F3;
    font-family: Roboto;
}
.connect{
    color: #513973;
    background-color: #EBEBEB;
}
a{
    color: #F5F3F3;
    font-family: Roboto;
    font-weight: 500;
}
.all{
    padding-left: 15%;
}
.m{
    padding-left: 30%;
    padding-bottom: 100%;
}
.footer{
    background-color: #513973;
    color: #F5F3F3;
    Height:
    314px;
    margin-top: 7%;
}
.n{
    background-color: #513973;
}
/* 
@media screen and (min-width:0px) and (max-width:600px){
   
  .part1{
    width: 100%;
  }
.part2{
    width: 100%; 
}
.part3{
    width: 100%; 
}
} */