<!DOCTYPE html>
<div class="page">
<div class=" mainDiv d-flex my-5 ">
  <div class="col-lg-8 ra8ii border  py-4 px-3 ">
    <div class="d-flex justify-content-between">
      <h2>Pet Adoption Checklist</h2>
      <div class="d-flex border align-items-center shear px-3">
        <img src="../../assets/images/shear.png" alt="" class="px-1">
<h4 class="px-1 mb-0">Share</h4>
      </div>
    </div>
    <img src="../../assets/images/learnmoreadp.page.png" alt="" class="w-100 my-4 ">
    <p class="mb-4 py-3">Adopting a new pet is a very exciting event!  You’ll need to pick up a few
      supplies, so we created a pet adoption checklist to help you prepare your
      home prior to your new adopted dog or cat’s arrival. Remember that
      purchasing through Scooby goes toward our mission.  All of the profits
      go back to our programs to help more pets.</p>
      <h6 class="header mb-2">Questions for All Adopters:</h6>

<div class="d-flex align-items-center">

  <p> <span class="dot-icon mr-2"></span>Do you have any other pets and how will they react to a new pet?</p>
</div>
<div class="d-flex align-items-center">

  <p><span class="dot-icon mr-2"></span>Is your current residence suited to the pet you're considering?</p>
</div>
<div class="d-flex align-items-center">

  <p> <span class="dot-icon mr-2"></span>How will your social life or work obligations affect your ability to
    care for a pet?
</p>
</div>
<div class="d-flex align-items-center">

  <p> <span class="dot-icon mr-2"></span>Do you have a plan for your new pet during vacations and/or work travel?</p>
</div>
<div class="d-flex align-items-center">

  <p><span class="dot-icon mr-2"></span>How do the people you live with feel about having a pet in the house?
  </p>
</div>
<div class="d-flex align-items-center">

  <p> <span class="dot-icon mr-2"></span>Are you (or your spouse, partner or roommate) intolerant of hair, dirt
    and other realities of sharing your home with a pet, such as allergies?</p>
</div>
<div class="d-flex align-items-center">

  <p> <span class="dot-icon mr-2"></span>Do you or any of your household/family members have health issues
    that may be affected by a pet?</p>
</div>
<div class="d-flex align-items-center">

  <p> <span class="dot-icon mr-2"></span>What breed of animal is the best fit with your current lifestyle?</p>
</div>
<div class="d-flex align-items-center">
  <p> <span class="dot-icon mr-2"></span>Is there tension in the home? Pets quickly pick up on stress in the home,
    and it can exacerbate their health and behavior problems.
</p>
</div>
<div class="d-flex align-items-center mb-3">

  <p> <span class="dot-icon mr-2"></span>Is there an adult in the family who has agreed to be ultimately
    responsible for the pet's care?</p>
</div>

<h6 class="header mb-2 py-2">Pet Costs:</h6>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Food
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Routine veterinary care

  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Licensing according to local regulations

  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Collars, leashes and identification tags
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Kitty litter and box
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Basic grooming equipment and supplies.
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Permanent identification, such as a microchip or tattoo
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Training classes
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>Additional grooming supplies or professional grooming
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>A spare collar or leash
  </p>
</div>
<div class="d-flex align-items-center">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>A bed and toys
  </p>
</div>
<div class="d-flex align-items-center mb-4">
  <p class="mb-0"> <span class="dot-icon mr-2"></span>A crate or carrier
  </p>
</div>
<div class="py-3">
  <h6 class="header mb-2 py-2">Time Considerations:
  </h6>
  <div class="d-flex align-items-center">
    <p> <span class="dot-icon mr-2"></span>Pets need to be fed two to three times a day, more often in the case of
      puppies, and need a constant supply of fresh water.
</p>
  </div>
  <div class="d-flex align-items-center">
    <p> <span class="dot-icon mr-2"></span>A responsible pet parent should spend at least one hour per day giving
      direct attention to his or her pet. This may include training, exercising,
      grooming, and playing or, with cats, may just be lap time on the couch.
      Dogs will need to be taken out to potty several times a day
</p>
  </div>
  <div class="d-flex align-items-center">
    <p> <span class="dot-icon mr-2"></span>A pet with an abundance of energy needs more time to exercise and
      interactive toys to keep them entertained.

</p>
  </div>
  <div class="d-flex align-items-center">
    <p> <span class="dot-icon mr-2"></span>Pets with long coats need 20 minutes a day of grooming to prevent
      matting.
</p>
  </div>
  <div class="d-flex align-items-center">
    <p> <span class="dot-icon mr-2"></span>Pets need to be fed two to three times a day, more often in the case of
      puppies, and need a constant supply of fresh water.
</p>
  </div>
  <div class="d-flex align-items-center">
    <p> <span class="dot-icon mr-2"></span>Pets with certain medical conditions may need additional attention,
      including specifically timed injections in the case of diabetic animals.
</p>
  </div>
  <div class="d-flex align-items-center">
    <p> <span class="dot-icon mr-2"></span>Remember that adopted pets may need additional bonding and
      reassurance time in the early weeks.
</p>
  </div>
</div>
<div class="py-3">
  <h6 class="header mb-2 py-1">New Dog Supplies Checklist </h6>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Dog collar, leash, and identification tags
    </p>
  </div>

  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Nutritious dog food

    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Dog crate or carrier
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Dog bed
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Food and water bowls
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Dog grooming tools (shampoo, brush and nail clippers)
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Dog toys
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Treats & chews
    </p>
  </div>

</div>

<div class="py-3">
  <h6 class="header mb-2 py-1">New Cat Supplies Checklist </h6>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Litter box and cat litter

    </p>
  </div>

  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Cat collar and identification tags

    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Cat food (both wet and dry)
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Food and water bowls
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Cat toys
    </p>
  </div>
  <div class="d-flex align-items-center">
    <p class="mb-0"> <span class="dot-icon mr-2"></span>Cat carrier
    </p>
  </div>

</div>


  </div>
  <div class="adv  mx-3 ">
    <div class="first ra8ii  w-100  border px-2 py-4 " *ngFor="let offer of offers.slice(4,5)">
<img [src]="offer.offerImage" class="mx-4" alt="">
<h5 class="name my-3 mx-5  px-1">Sponsored ad</h5>
    </div>
    <div class="second ra8ii  w-100  border px-2 py-4 my-4 " *ngFor="let offer of offers.slice(0,2)">
      <img [src]="offer.offerImage" class="mx-4" alt="">
      <h5 class="name my-3 mx-5 px-1">Sponsored ad</h5>
          </div>
  </div>


</div>

<div class="blogs ">
  <h4 class="py-1 px-2">Blogs</h4>
  <p class="px-2">Because we love to talk about pets.</p>
  <div class="d-flex  my-4 ">
<div class="blog mx-2" >
  <img class="w-100" src="../../assets/images/blog 1.png" alt="">
  <div class="grayDiv"><p class="mb-0">Reasons for Pet Adoption</p></div>
</div>

<div class="blog mx-2" >
  <img class="w-100" src="../../assets/images/blog 2.png" alt="">
  <div class="grayDiv"><p class="mb-0">Health Benefits of adopting a Cat</p></div>
</div>

<div class="blog mx-2" >
  <img class="w-100" src="../../assets/images/blog 3.png" alt="">
  <div class="grayDiv"><p class="mb-0">Why pet adoption is a great idea</p></div>
</div>
  </div>

</div >
</div>
