<!DOCTYPE html><div class="page my-5">
  <h1 class="mb-5">Experience the joy of adoption as you browse
     through the endearing pictures of our sheltered pets</h1>
<div class="d-flex m-auto  " >
  <div class="col-lg-3 " *ngFor="let shelterPet of shelterPets.slice(0,4)">
<img class="pets my-3 mx-3" [src]="shelterPet.petImage" alt="">
</div>

</div>
<div class="d-flex m-auto  " >
  <div class="col-lg-3 " *ngFor="let shelterPet of shelterPets.slice(4,8)">
<img class="pets my-3 mx-3" [src]="shelterPet.petImage" alt="">
</div>
</div>
<div class="d-flex m-auto  " >
  <div class="col-lg-3 " *ngFor="let shelterPet of shelterPets.slice(8,12)">
<img class="pets my-3 mx-3" [src]="shelterPet.petImage" alt="">
</div>
</div>
<div class="d-flex m-auto  " >
  <div class="col-lg-3 " *ngFor="let shelterPet of shelterPets.slice(16,20)">
<img class="pets my-3 mx-3" [src]="shelterPet.petImage" alt="">
</div>
</div>
<div class="d-flex m-auto  " >
  <div class="col-lg-3 " *ngFor="let shelterPet of shelterPets.slice(12,16)">
<img class="pets my-3 mx-3" [src]="shelterPet.petImage" alt="">
</div>
</div>
</div>
