*{
  padding: 0 px;
  margin: 0 px;
}
body{
  padding: 0 px;
  margin: 0 px;
}

a,a
{
text-decoration: none;
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23.44px;


font-size: 20px;

}
h6{
  color: rgba(81, 57, 115, 1);

font-size: 20px;
font-weight: 500;
line-height: 23.44px;



}
.immm{
  height: 55px;

}

.icoon{
color: rgba(222, 222, 222, 1);

}
i{
  color:rgba(222, 222, 222, 1) ;
position: center center;
width: auto;



opacity: 0px;

}
nav{
  padding-top:10px !important;
  height: 60px;

}
.imgg{
margin-bottom: 8px;
padding: 0px;
}
.icoon{
  width: 28px;
  height: 28px;
  color: #DEDEDE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.cart{
  padding-right: 1%;
  padding-top: 1%;
}
a{
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23.44px;
text-align: left;
color: #0F0F0F;
}
.soicalMedia{
padding-bottom: 10px;
margin-left: 400px;

}
.logout{
  color:rgba(245, 243, 243, 1);
  margin-right: 40px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}
