
a,a
{
text-decoration: none;
font-family: Roboto;
line-height: 23.44px;
}
h6{
  color: rgba(81, 57, 115, 1);
font-size: 20px;
font-weight: 500;
line-height: 23.44px;

}

.icoon{
color: rgba(222, 222, 222, 1);
}
i{
  color:rgba(222, 222, 222, 1) ;
position: center center;
opacity: 0px;
}


.logout{
  color:rgba(245, 243, 243, 1);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}
@media screen and (min-width:0px) and (max-width:600px){

  .nav{
    width: 100%;
  }
  .rightsection img{
display: none;
  }
  .rightsection{
width: 70%;
  }
  .ul1 {
width:100%;

  }
  .leftsection{
    width:20%;
  }
  .third{
    width: 10%;
  }
  a{
    font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.44px;
  text-align: left;
  color: #0F0F0F;
  }
  .main{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
  }
 .logout{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
 }
 .icoon{
  display: none;
  width: 22px;
  height: 22px;
  color: #DEDEDE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

}
@media screen and (min-width:601px) and (max-width:768px){
  .nav{
    height:60px;
    width: 100%;
  }
  .rightsection img{
width: 50px;
height: 50px;

  }
  .rightsection{
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
.leftsection{
  padding-right:5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.logout{
  padding-left:5%;
}
.main{
  display: flex;
  justify-content: space-between;
}
}
@media screen and (min-width:769px) and (max-width:992px){
  .nav{
    height:60px;
    width: 100%;
  }
  .main{
    display: flex;
    justify-content: space-between;
  }
  .rightsection img{
width: 50px;
height: 50px;

  }
  .rightsection{
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
.leftsection{
  padding-right:8%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.logout{
 padding-left:7%;
}

}
@media screen and (min-width:993px) and (max-width:1200px){
  .nav{
    height:60px;
    width: 100%;
  }
  .main{
    display: flex;
    justify-content: space-between;
  }
  .rightsection img{
width: 50px;
height: 50px;
  }
  .ul1{
    margin-left: 2%;
  }
  .rightsection{
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
.leftsection{
  padding-right:8%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.logout{
 padding-left:7%;
}

}
@media screen and (min-width:1201px) {
  .nav{
    height:60px;
    width: 100%;
  }
  .main{
    display: flex;
    justify-content: space-between;
  }
  .rightsection img{
width: 50px;
height: 50px;

  }

  .rightsection{
    padding-left: 8%;
    padding-top: .5%;
    padding-bottom: .5%;
justify-content: space-between;
  }
.leftsection{
  padding-right:8%;
    padding-top: .5%;
    padding-bottom: .5%;
}
.logout{
 padding-left:7%;
}

}
.account-dropdown{
  position: relative;
}
.ac-drop{
  position: absolute;
  top: 30px;
  z-index: 33;
  background-color: #FFFFFF;
  width: Hug (307px)px;
height: Hug (284px)px;
padding: 26px 16px 26px 16px;
gap: 21px;
border-radius: 16px ;
color: #605C5C;


}
.dropdown-item{
  font-size: 0.9rem !important;
  padding: 5px 15px !important;
}
.Setting{
  border-bottom: 1px solid  #EEE9E9;
}
.user-img{
  width: 35px;
height: 35px;
left: 183px;

border: 1px ;


}
.us-name{
  font-family: Roboto;
font-size: 28px;
font-weight: 500;
line-height: 28.13px;
text-align: center;

}

