<!DOCTYPE html>
<div class=" page ">
  <h1 class="">OTP Verification</h1>
  <p class="">We will send you a one time password on
    your Email</p>
    <form (ngSubmit)="submitcode(sendcode)" [formGroup]="sendcode" class="">
      <div class="buttons  m-auto ">
        <input type="" formControlName="code" id="code" class="input border py-3 " >
        <button [disabled]="sendcode.invalid" type="submit" class="code py-3 ">
          Submit
        </button>
      </div>

          </form>
</div>
