.page h1{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 23.44px;
  text-align: center;
 color: rgba(81, 57, 115, 1);

}
.page p{
  font-family: Roboto;
font-size:25px;
font-weight: 400;
line-height: 25px;
text-align: center;
}
.input{
  border-radius:30px;
  background-color: rgba(254, 251, 251, 1);
border-color: 2px rgba(143, 143, 143, 1);
}
.code{
  border-radius: 30px;
  border-width:  0px;
  background-color: rgba(81, 57, 115, 1);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  text-align: center;
  color: rgba(254, 251, 251, 1);

}
@media screen and (min-width:0px) and (max-width:600px) {
.page{
  margin:15% 9%;
}
.page h1{
  margin-bottom: 5%;
}
.page p{
  margin-bottom: 10%;
}
.code{
  width:100%;

}
.input{
  width:100%;
  margin-bottom: 4%;
}
.buttons{
width:80%
}

 }
@media screen and (min-width:601px) and (max-width:768px) {
  .page{
    padding-top:15%;

  }
.code{
  width:100%;
}
.input{
  width:100%;
  margin-bottom: 4%;
}
.page p{
  width:70%;
margin-bottom: 8%;
margin-left: 15%;

}
.page h1{
  margin-bottom: 4%;
}
.buttons{
  width:70%;
}

  }
@media screen and (min-width:769px) and (max-width:992px) {
  .page{
    padding-top:11%;

  }
.code{
  width:100%;
}
.input{
  width:100%;
  margin-bottom: 4%;
}
.page p{
  width:65%;
margin-bottom: 6%;
margin-left:17.5%;

}
.page h1{
  margin-bottom: 3%;
}
.buttons{
  width:60%;
}

     }
@media screen and (min-width:993px) and (max-width:1200px) {
  .page{
    padding-top:10%;

  }
.code{
  width:100%;
}
.input{
  width:100%;
  margin-bottom: 4%;
}
.page p{
  width:65%;
margin-bottom: 5%;
margin-left:17.5%;

}
.page h1{
  margin-bottom: 2%;
}
.buttons{
  width:50%;
}
          }
@media  screen and (min-width:1201px) {
  .page{
    padding-top:8%;

  }
.code{
  width:100%;
}
.input{
  width:100%;
  margin-bottom: 4%;
}
.page p{
  width:65%;
margin-bottom: 5%;
margin-left:17.5%;

}
.page h1{
  margin-bottom: 2%;
}
.buttons{
  width:35%;
}
}
