
<div class="container">
    <div>
        <div class="fav pt-5">Favorites</div>
        <div class="pt-2">
        <div class="brdr"></div>
        </div>
    </div>
<div class="row pt-4">
    <div class="col-md-4 ">
        <div class="buttons  my-5">
          <div> 
            <a class="default-button" routerLink="/favorite" target="_blank"> Default</a>
            </div>
        
        <div class="pt-3">
            <a class="adopt-me-button" routerLink="/fav" target="_blank" >Adopt Me </a>
            <!-- <button class="adopt-me-button ">Adopt Me</button> -->
        </div>
    </div>
    </div>
   <div class="col-md-8">
    <div class="row big">
    <div *ngFor="let product of favoriteProducts" class="col-md-4 py-3  ">
        <div class="product-cart  position-relative ">
            <div>
                <img class="product-img " [src]="product.petImage">
            </div>

            <div class="d-flex justify-content-between flex-column px-2">
                <!-- <i class="fas fa-heart position-absolute top-0 end-0" (click)="goToFavoritePage(product)"></i> -->
                <h5 class=" name">{{product.name}}</h5>
                <h6 class="name-Bio">{{product.profileBio}}</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between pt-3">
                        
                        <i class="fas fa-heart position-absolute top-0 end-0 pt-2 pr-2" [ngClass]="{ 'favorite': product.favorite }" (click)="toggleFavorite(product)"></i>
                    </div>

                    <div class="d-flex justify-content-end  ">

                   
                    </div>
                </div>

            </div>


        </div>
    </div>
   </div>
</div>
</div>



