<!DOCTYPE html><div class=" vh-100 page ">
  <div class="first1">
    <img src="../../assets/images/Rectangle 8.jpg" class="first" alt="not fuond">

  </div>
  <div class="second">
  <div class="  py-5 ">
<h1 class="py-3 lead">Login </h1>
<p class="py-2 lead ">Welcome Back!</p>
</div>
<!--google and facebook icon---->
<div class=" py-3 google-face d-flex justify-content-between">

  <!--facebook contener-->
<div class="face border border-2 rounded-pill  ">
  <div class="py-3  ">
 <img class="mx-2 face-image " src="../../assets/images/facebook.png" alt="">
<a href="https://scoobyfamily.onrender.com/scooby/api/users/facebook">Login with Facebook</a>
</div>
</div>

<!--google contener-->
<div class=" face border border-2 rounded-pill ">
  <div class=" py-3  ">

  <img class="mx-2 google-image" src="../../assets/images/google.png" alt=" ">
 <a href="https://scoobyfamily.onrender.com/scooby/api/users/google"> Login with Google</a>

</div>
</div>
  </div>

  <div class="container py-2 mb-3">
    <div><h2 class="lead">OR</h2></div>
   </div>


<form  (ngSubmit)="submitLogin(loginForm)" [formGroup]="loginForm">
<div *ngIf="islog" class="bg-info">
  <p>Incorrect Email or Password</p>
</div>
  <label class="labels py-1" for="email">Email</label>
  <input type="email" formControlName="email" class="mb-2 py-2 form-control  border border-2 rounded-pill" id="email">
  <div  *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger my-2 py-2">
<p *ngIf="loginForm.get('email')?.errors?.required" class="lead errors mb-0">email is required</p>
<p *ngIf="loginForm.get('email')?.errors?.email"  class="lead errors mb-0"> email is invalid</p>
  </div>

  <label  class="labels py-1" for="password">Password</label>
  <input type="password" formControlName="password" class=" mb-2  py-2  form-control  border border-2 rounded-pill" id="password">
  <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class=" alert alert-danger my-2 py-2">
    <p *ngIf="loginForm.get('password')?.errors?.required" class="lead errors mb-0">password is required</p>

  </div>
  <div class="forgetPass lead mb-4">
    <a routerLink="/resetpassword">Forget Password?</a></div>

    <button  type="submit" class=" py-3 b2 b1 lead border border-1 rounded-pill btn mt-2">Login</button>

</form>
<!--paragraph-->
<div class="text-center mx-2 paragraph  py-3 px-5  ">
<p class="   para">By clicking Sign up or Log in, I agree to  <a routerLink="/privecy" class=" para">Scooby’s
  Terms of Service </a>and<a routerLink="/privecy" class=" para"> Privacy Policy.</a> </p>
</div>


  <div class="text-center finial py-2 ">
    <p class="lead  ">
        Already a member?<a routerLink="/signup"> Sign Up</a>
    </p>
</div>

</div>
  </div>

