h1{
  font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
color: rgba(15, 15, 15, 0.8);


}
p{
  font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.10000000149011612px;

color: rgba(15, 15, 15, 0.8);

}
h2{

  position: relative;
  text-align: center;
font-weight: 400;
font-Size:16px;

Line-height:
18.75px;
color: rgba(96, 92, 92, 1);
}

h2::after{
  content: "";
  background-color: rgba(96, 92, 92, 1);
  position:absolute ;
  top: 50%;
  right: 0;
  width: 40%;
  height: 2px;


}
h2::before{
  content: "";
  background-color: rgba(96, 92, 92, 1);
;
  position:absolute ;
  top: 50%;

  left: 0;
  width: 40%;
  height: 2px;

}
.face-image{
  width: 26px;
  height: 26px;
  margin: auto;
}
.google-image{
  width: 26px;
  height: 26px;

}
.google-face a{
font-weight: 500;
font-size: 16px;
Line-height:
18.75px;
color:
rgba(15, 15, 15, 0.95);
}
.labels{

  font-size: 18px;
  font-weight: 500;
  Line-height:
18.75px;
color: rgba(14, 14, 14, 1);
}
.b1{
  background-color: rgba(81, 57, 115, 1);

  width: 100%;

  color: rgba(255, 243, 243, 1);
  font-weight: 500;
  font-size: 20px;
  Line-height:
23.44px;

 }
 .b2{
  margin-bottom: 0px;

 }
 .errors{
  font-size:16px ;
 }
 .para {
  font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 20px;
text-decoration: none;
 }
 .paragraph p{
  color: rgba(96, 92, 92, 1);

 }
 .paragraph a{
  color: rgba(81, 57, 115, 1);


 }
 .facebook{
  margin: auto;
  text-align: center;
 }
 .google{
  margin: auto;
  text-align: center;
 }
 .finial p{
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23.44px;
color: rgba(15, 15, 15, 0.8);
 }
 .finial a{
  text-decoration: none;
  color: rgba(81, 57, 115, 1);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
 }
 .forgetPass a{
  text-decoration: none;
text-align: end;
font-size: 16px;
font-weight: 500;
  color: rgba(81, 57, 115, 1);
}
.forgetPass{
text-align: end;
 }

 @media screen and (min-width:0px) and (max-width:600px) {
.page{margin-bottom: 9%;}
  .first{
    width:100%;}
    .first1{

    display:none ;
  }
  .second{
    width: 100%;
    padding: 10%;

  }

  .p{
    width:75%;
    margin: auto;
    margin-bottom: 2%;
  }
.facebook{
padding-top:2.5%;
padding-bottom:2.5%;
}
.google{
  padding-top:2.5%;
padding-bottom:2.5%;
}
 }
@media screen and (min-width:601px) and (max-width:768px) {

  .first{
    width:100%;}
    .first1{
   display: none;
  }

  .second{
    width: 100%;
    padding: 10%;

  }
.form input{
  width: 90%;
}
.google-face{
 display: flex;
 justify-content: space-between;
}
.p{
  width: 47%;padding-top: 2%; padding-bottom: 2%;
}
}
@media screen and (min-width:769px) and (max-width:992px) {
  .first{
        width:100%;
        display: flex;}
        .first1 img{
          width: 100%;
      }
      .second{
        width: 100%;
        padding:6%;
      }
    .google-face{
display: none;
    }
    .or{
      display: none;
    }
.paragraph{
  display: none;
}
  }
 @media screen and (min-width:993px) and (max-width:1200px) {
.first{
width:100%;
display: flex;
              }
.first1 img{
width:100%;
}
 .second{
   width: 100%;
                padding-left: 6%;
                padding-right: 6%;

              }
 .google-face {
  display: flex;
justify-content: space-between;}
.p{
padding: 4% 4%;
width: 49%;
}}
@media screen and (min-width:1201px){
  .page{margin-bottom: 13%;}
.first{
  display: flex;
  width: 100%;
}
.first1 img{
  width: 100%;
}
.first1{
  width: 100%;
}
.second{
  width: 100%;
padding: 4% 5%;
}
.google-face {
  display: flex;
justify-content: space-between;}
.p{
padding: 2.5% 3%;
width: 47%;
}
}
