<div class="d-flex vh-100 ">
  <img src="../../assets/images/Rectangle 8.jpg" class=" w-100 bg-info" alt="not fuond">
  <div class=" w-100 py-5 mx-5 px-5 ">
<h1 class="py-3 lead">Login </h1>
<p class="py-2 lead ">Welcome Back!</p>

<!--google and facebook icon---->
<div class=" py-3 google-face d-flex justify-content-between">

  <!--facebook contener-->
<div class="face border border-2 rounded-pill  ">
  <div class="py-3  ">
 <img class="mx-2 face-image " src="../../assets/images/facebook.png">
<a>Login with Facebook</a>
</div>
</div>

<!--google contener-->
<div class=" face border border-2 rounded-pill ">
  <div class=" py-3  ">

  <img  class="mx-2 google-image"src="../../assets/images/google.png">
 <a> Login with Google</a>

</div>
</div>
  </div>

  <div class="container py-2 mb-3">
    <div><h2 class="lead">OR</h2></div>
   </div>

<div *ngIf="error" class="alert alert-danger">
<h6>{{error}}</h6>
</div>

<form  (ngSubmit)="submitLogin(loginForm)" [formGroup]="loginForm">

  <label class="labels py-1" for="email">Email</label>
  <input type="email" formControlName="email" class="mb-2 py-2 form-control  border border-2 rounded-pill" id="email">
  <div  *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger my-2 py-2">
<p *ngIf="loginForm.get('email')?.errors?.required" class="lead errors mb-0">email is required</p>
<p *ngIf="loginForm.get('email')?.errors?.email"  class="lead errors mb-0"> email is invalid</p>
  </div>

  <label  class="labels py-1" for="password">Password</label>
  <input type="password" formControlName="password" class=" mb-2  py-2  form-control  border border-2 rounded-pill" id="password">
  <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class=" alert alert-danger my-2 py-2">
    <p *ngIf="loginForm.get('password')?.errors?.required" class="lead errors mb-0">password is required</p>
    <p *ngIf="loginForm.get('password')?.errors?.pattern" class="lead errors mb-0">
      password must start with uppercase and 4 letters minmum 8 letters maxmum</p>
  </div>
  <div class="forgetPass lead mb-4">
    <a routerLink="/resetpassword">Forget Password?</a></div>

    <button  type="submit" class=" py-3 b2 b1 lead border border-1 rounded-pill btn mt-2">Login</button>

</form>
<!--paragraph-->
<div class="text-center mx-2 paragraph  py-3 px-5  ">
<p class="   para">By clicking Sign up or Log in, I agree to  <a routerLink="/privecy" class=" para">Scooby’s
  Terms of Service </a>and<a routerLink="/privecy" class=" para"> Privacy Policy.</a> </p>
</div>


  <div class="text-center finial py-2 ">
    <p class="lead  ">
        Already a member?<a routerLink="/signup"> Sign Up</a>
    </p>
</div>

</div>
  </div>

