<!DOCTYPE html>
<div class="py-5 my-2 page">
  <h1 class="py-3">Reset Password</h1>
  <p class=" py-4">Don’t worry, It happens. Please enter the email address associatedwith your account,
    and we’ll send you a link to reset your password.</p>
    <form (ngSubmit)="submitSendEmail(sendEmailForm)" [formGroup]="sendEmailForm">
<input type="email" formControlName="email" id="email" class="input py-3 my-3" >
<button [disabled]="sendEmailForm.invalid" type="submit" class="reset py-3 my-3">
  Send reset link
</button>
    </form>
<button class="back py-3 my-3 " routerLink='/login'>Back</button>
</div>
