.headers h1{
  font-family: Roboto;
font-size: 42px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0.5px;
text-align: center;
color: rgba(15, 15, 15, 0.95);
}
.headers h2{
  font-family: Roboto;
font-size: 30px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.5px;
text-align: center;
color: rgba(15, 15, 15, 0.6);

}
.headers{
  margin-top: 3%;
}
.allservices{
margin-left: 8%;
margin-right: 8%;
}
.service{
  border-radius: 12px;
  background-color: rgba(241, 240, 240, 1);
width: 330px;
height: 360px;
position: relative;
border-color:  rgba(15, 15, 15, 0.5);
border-width: .5px;

}
.info{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-color:  rgba(15, 15, 15, 0.5);
  border: .5px;
  height: 110px;
}
.service img{
  width: 200px;
  height: 200px;
  margin-left: 19%;
  margin-right: 18%;
  margin-top: 8%;
}
.info h6{
  font-family: Roboto;
font-size: 28px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.5px;
text-align: center;
color: rgba(15, 15, 15, 0.95);

}
.info p{
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 21px;
letter-spacing:.5px 3px;
text-align: center;
color: rgba(15, 15, 15, 0.6);
}

.final{
  margin-left: 16%;
  margin-right:16%;
}
