<div class="allpage">
  <div class="headers border-1 mb-4 ">
    <h1 class="py-3">Do you need help with your pets?</h1>
<h2 class="py-3">Book what you're looking for </h2>
  </div>
  <div class="py-3 col-lg-10  allservices">
<div class="d-flex mb-5 " >
<div *ngFor="let service of services.slice(0,3)"
 [routerLink]="['/discerption',service.serviceProfile]" class="service mx-4 border">
  <img [src]="service.icon" alt="">
  <div class="info border px-3 py-2">
<h6 class="mb-2">{{service.name}}</h6>
<p class="mb-0">{{service.description}}</p>
  </div>
</div>
</div>
<div class="d-flex mb-5 " >
  <div *ngFor="let service of services.slice(3,6)"
   [routerLink]="['/discerption',service.serviceProfile]" class="service mx-4 border">
    <img [src]="service.icon" alt="">
    <div class="info border px-3 py-2">
  <h6 class="mb-2">{{service.name}}</h6>
  <p class="mb-0">{{service.description}}</p>
    </div>
  </div>
  </div>
  <div class="d-flex mb-5 final " >
    <div *ngFor="let service of services.slice(6,8)"
     [routerLink]="['/discerption',service.serviceProfile]" class="service mx-4 border">
      <img [src]="service.icon" alt="">
      <div class="info border px-3 py-2">
    <h6 class="mb-2">{{service.name}}</h6>
    <p class="mb-0">{{service.description}}</p>
      </div>
    </div>
    </div>
    </div>

  </div>



