<div class="allpage">
  <div class="headers border-1 mb-4 ">
    <h1 class="py-3">Do you need help with your pets?</h1>
<h2 class="py-3">Book what you're looking for </h2>
  </div>
  <div class="py-3 section container">
    <div class="row d-flex  ">
      <div class="borderForImages px-0 col-md-3  border border-1 mb-5">
        <img class=" py-3  " src="../../assets/images/veterinarian 1.png">
        <div class="text-center border  w-100 borderSmall ">
          <a routerLink="/veterinary">Pet Veterinary</a>
          <p  class="py-3 lead">When anything worries your pet</p>
        </div>
      </div>
        <div class="borderForImages px-0 col-md-3  border border-1 mb-5">
          <img class=" py-3  " src="../../assets/images/world-animal-day 1.png">
          <div class="text-center border  w-100 borderSmall ">
            <a routerLink="/discerption">Pet Boarding</a>
            <p  class="py-3 lead">When your pet needs overnight care</p>
          </div>
        </div>
        <div class="borderForImages px-0 col-md-3  border border-1 mb-5">
          <img class=" py-3  " src="../../assets/images/grooming 1.png">
          <div class="text-center border  w-100 borderSmall ">
            <a routerLink="/discerption">Pet Grooming</a>
            <p  class="py-3 lead">Give your baby pet new look</p>
          </div>
        </div>
        <div class="borderForImages px-0 col-md-3  border border-1 mb-5">
          <img class=" py-3 " src="../../assets/images/sitting-dog 1.png">
          <div class="text-center border  w-100 borderSmall ">
            <a routerLink="/discerption">Pet Sitting</a>
            <p  class="py-3 lead">When your pet needs house-
              services overnight</p>
          </div>
        </div>
        <div class="borderForImages px-0 col-md-3  border border-1 mb-5">
          <img class=" py-3" src="../../assets/images/dog-training 1.png">
          <div class="text-center border  w-100 borderSmall ">
            <a routerLink="/discerption">Pet Training</a>
            <p  class="py-3 lead">Train your pets behavior</p>
          </div>
        </div>
        <div class="borderForImages px-0 col-md-3  border border-1 mb-5">
          <img class=" py-3  " src="../../assets/images/dog-walking 1.png">
          <div class="text-center border   w-100 borderSmall">
            <a routerLink="/discerption">Pet Walking</a>
            <p  class="py-3 lead">For dogs if they need a walk</p>
          </div>
        </div>
            <div class=" finialdiv px-0  col-md-3   border  mb-5 ">
              <img class="py-3  " src="../../assets/images/pet-taxi 1.png">
              <div class="text-center border  w-100 borderSmall">
                <a routerLink="/discerption">Pet Taxi</a>
                <p class="py-3 ">When your pet needs help going out</p>
              </div>
            </div>
            <div class=" finialdiv px-0  col-md-3   border  mb-5 ">
              <img class="py-3 " src="../../assets/images/pet-supplies 1.png">
              <div class="text-center border  w-100 borderSmall">
                <a routerLink="/shop" class=" ">Pet Supplies</a>
                <p class="py-3  ">All your pet needs</p>
              </div>
            </div>


      </div>

    </div>

  </div>



