h1{
  font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
color: rgba(15, 15, 15, 0.8);


}
p{
  font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.10000000149011612px;

color: rgba(15, 15, 15, 0.8);

}
h2{

  position: relative;
  text-align: center;
font-weight: 400;
font-Size:16px;

Line-height:
18.75px;
color: rgba(96, 92, 92, 1);
}

h2::after{
  content: "";
  background-color: rgba(96, 92, 92, 1);
  position:absolute ;
  top: 50%;
  right: 0;
  width: 40%;
  height: 2px;


}
h2::before{
  content: "";
  background-color: rgba(96, 92, 92, 1);
  position:absolute ;
  top: 50%;
  left: 0;
  width: 40%;
  height: 2px;


}
.face-image{
  width: 26px;
  height: 26px;
  margin: auto;
}
.google-image{
  width: 26px;
  height: 26px;

}
.google-face a{
font-weight: 500;
font-size: 18px;
Line-height:
18.75px;
color:
rgba(15, 15, 15, 0.95);
}
.labels{

  font-size: 18px;
  font-weight: 500;
  Line-height:
18.75px;
color: rgba(14, 14, 14, 1);
}
.b1{
  background-color: rgba(81, 57, 115, 1);
  color: rgba(255, 243, 243, 1);
  font-weight: 500;
  font-size: 20px;
  Line-height:
23.44px;

 }
 .b2{
  margin-bottom: 0px;

 }
 .errors{
  font-size:16px ;
 }
 .para {
  font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 20px;
text-decoration: none;
 }
 .paragraph p{
  color: rgba(96, 92, 92, 1);

 }
 .paragraph a{
  color: rgba(81, 57, 115, 1);


 }

 .finial p{
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23.44px;
color: rgba(15, 15, 15, 0.8);
 }
 .finial a{
  text-decoration: none;
  color: rgba(81, 57, 115, 1);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
 }


 @media screen and (min-width:0px) and (max-width:600px) {

  .first{
    width:100%;}
    .first1 img{
      display: none;
    }

  .second{
    width: 100%;
padding: 3% 7%;
  }
  .face{
    width:80%;
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
   }
   .smaldiv{
    padding-top: 4%;
    padding-bottom: 4%;
   }
   .b1{
    width: 100%;
   }
 }
@media screen and (min-width:601px) and (max-width:768px) {

  .first{
    width:100%;}
    .first1{
      width: 100%;

  }
  .second{
    width: 100%;
    padding: 2% 2%;
  }
  .first{
    width:100%;}
    .first1 img{
      display: none;
    }

  .second{
    width: 100%;
    padding: 10%;

  }
  .face{
    width:80%;
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
   }
   .smaldiv{
    padding-top: 2%;
    padding-bottom: 2%;
   }
   .signup input{
    width:90%;
   }
   .b1{
    width: 100%;
   }
  }
  @media screen and (min-width:769px) and (max-width:992px) {

      .first{
        width:100%;}
        .first1{
          width: 100%;

      }
      .second{
        width: 100%;
        padding: 6%;

      }
      .first1 img{
        display:none;
      }
.google-face{
  display: flex;
 margin: auto;
  justify-content: space-between;
}
.smaldiv{
width: 100%;
padding-top: 4%;
padding-bottom: 4%;
 }
 .face{
  width:45%;
  margin: auto;
  text-align: center;
 }
 .in{
  width:95%;
 }
 .b1{
  width:95%;
 }
 .signupform{
  padding-left: 5%;
 }
 .paragraph{
 width: 70%;
    }}
      @media screen and (min-width:1201px)  {
        .page{
          display: flex;
        }
        .first1{
          width: 100%;
        }
        .first1 img{
          width: 100%;
        }
          .first{
            width:100%;

          }
          .second{
            width: 100%;
            padding:3% 3%;

          }
  .b1{
    width: 100%;
  }
  .paragraph{
    width: 80%;
  }
  .google-face{
    display: flex;
   margin: auto;
    justify-content: space-between;
  }
  .smaldiv{
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
   }
   .face{
    width:47%;
    margin: auto;
    text-align: center;
   }
      }
 @media screen and (min-width:993px) and (max-width:1200px) {
            .page{
              width: 100%;
              display: flex;
            }
            .first1 img{
              width: 100%;
            }
            .first1{
              width: 100%;
            }
              .second{
                width: 100%;
                padding:1% 4%;
              }
              .google-face{
                display: flex;
               margin: auto;
                justify-content: space-between;
              }
              .smaldiv{
              width: 100%;
              padding-top: 6%;
              padding-bottom: 6%;
               }
               .face{
                width:47%;
                margin: auto;
                text-align: center;
               }
               .b1{
                width: 100%;
               }
               .paragraph{
                width:85%;
            }
  }
