
.big-img{
    position: relative;
}
.caption{
    position: absolute;

font-family:Roboto;
color: #FEFBFB;
}
.kinds{
    position: absolute;
    /* top:70%;
    left:20%; */

}
.item{
    background:#FFFFFF;
    border-radius: 12px;
    border-width: 1px;
    /* width: 250px;
    height: 220px; */
  }
 /* .item-img{
  padding-left: 40px;
 } */
  .adoption{
    /* padding-top: 15%;
    padding-left: 5%; */
    font-family:  Roboto;

  }
  .pet-img{

   /* width: 300px ;
    height: 205.9px; */

    border-radius: 7% 7% 0 0;


  }
  .name-pet{
font-family: Roboto;
/* font-size: 22px;
font-weight: 550;
line-height: 16px; */
  }
  .type-pet{

font-family: Roboto;
/* font-size: 16px;
font-weight: 450;
line-height: 16px; */

text-align: left;

color: #747070;

  }
  .pet-cart{
    /* width: 290px;
    height: 340px; */
border:1px solid #DEDCE2 ;
border-radius: 7%;
  }
 /* .space{
 padding-left: 3%;
 margin-left: 3% !important;
 } */
  .meet1{

    border-radius:
    16px;
    border:1px solid #DEDCE2 ;
    background-color:#513973 ;


   /* width: 290px;
    height: 340px; */


  }
  .paw1{
    /* width: 100px;
height: 100px; */
object-fit: contain;
  }
  .disc1{
    font-family: Roboto;
/* font-size: 16px;
font-weight: 500; */
text-align: center;
color: #FEFBFB;

  }
  .disc{
    border-bottom: 0.3px solid #ffffffa5;
    padding-bottom: 20px;
  }
  .disc-end{
    font-family: Roboto;
/* font-size: 16px;
font-weight: 500; */
text-align: center;
color:#FEFBFB;
  }

  .title{
    /* padding-left: 85px; */
    font-family: Roboto;
/* font-size: 30px;
font-weight: 600; */
line-height: 40px;


  }
  .item-txt{
    font-family: Roboto;
/* font-size: 19px;
font-weight: 550;
line-height: 28.13px; */
text-align: center;

  }

  /* .fav1{


    width:1010px;
    height: 300px;


  } */

  i{
    padding-right: 5%;
    cursor: pointer;
}

  .fa-regular{
    color: #513973;
  }


  .fa-heart {
    font-size: 40px;

  }
  .fa-heart.bg-white.rounded-circle {
    padding: 5px;
  }
  .fa-regular.bg-white.rounded-circle.fa-heart {
    padding: 5px;
    font-size: 19px;
    border-radius: 49px;
  }
  .position-absolute.top-0.end-0.pt-2.pr-2 {
    margin-top: 10px;
    margin-right: 10px;
  }
  .Planning{
    font-family: Roboto;
/* font-size: 30px;
font-weight: 700; */
line-height: 40px;
letter-spacing: 0.05em;
text-align: center;
/* padding-top: 7%; */
  }
  .part1{

    /* width: 395px;
    height: 380px; */

padding: 22px 12px 22px 12px;
border-radius: 8px ;
border: 1px solid #DEDCE2;
  }
   .part2{

/* width: 395px;
height: 380px; */
padding: 22px 12px 22px 12px;
border-radius: 8px ;
border: 1px solid #DEDCE2;

  }
  .part3{

    /* width: 395px;
    height: 380px; */
padding: 22px 12px 22px 12px;
border-radius: 8px ;
border: 1px solid #DEDCE2;

  }
  .big{
    font-family: Roboto;
/* font-size: 25px;
font-weight: 550;
line-height: 26px; */
letter-spacing: 0.05em;
text-align: center;
color: #513973;
  }
  .Planning-img{
    /* width: 120px;
height: 120px;
margin-left: 30%; */
object-fit: contain;
  }
  .small{
    font-family: Roboto;
/* font-size: 19px;
font-weight: 450;
line-height: 20px; */
letter-spacing: 0.05em;
text-align: center;
color: #888080;
padding: 0%;
  }
  .Planning-btn{
    width:152px;
height: 40px;
padding: 2px 14px 2px 14px;
gap: 10px;
border-radius: 24px ;


border: 2px solid #513973;
text-align: center;
margin-left: 26%;
  }
  /* .parts{
    padding-left: 10%;
    padding-top: 4%;
  } */
  /* .pics{
    margin-left: 1.4%;
  } */
  .sliderpets{
    background-color: #513973;




  }
  .disc-Successful{
    font-family: Roboto;
/* font-size: 38px;
font-weight: 700;
line-height: 40px; */
letter-spacing: 0.05em;
text-align: center;
color: #FEFBFB;
  }
  .disc-slide{
    font-family: Roboto;
/* font-size: 22px;
font-weight: 400; */
line-height: 22px;
letter-spacing: 0.05em;
text-align: center;
color: #CDC6C6;
  }

  .slider{

position: relative;
margin-top: 5%;
  }
  .header h3{
    color: rgba(15, 15, 15, 0.95);
    font-family: Roboto;
    /* font-size: 38px;
    font-weight: 700;
    line-height: 44px; */
    text-align: left;
    }
    .header p{
      color: rgba(15, 15, 15, 0.8);
      font-family: Roboto;
      /* font-size: 28px;
      font-weight: 400;
      line-height: 32.81px; */
      text-align: left;

    }
    .desc{

      background: rgba(15, 15, 15, 0.6);
      position: absolute;
      bottom:0px ;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

    }
    .desc a{
      color:  rgba(245, 243, 243, 1);
      /* height: 70px; */
      padding-top: 10px;
      text-decoration: none;
      font-family: Roboto;
      /* font-size: 20px;
      font-weight: 500;
      line-height: 12px; */
      letter-spacing: 0.5px;
      text-align: left;


    }
    .blog{
      position: relative;
      /* height: 250px; */
      border-radius: 10px;

    }
    .blog img{
      height: 100%;
      border-radius: 8px;
    }
    .right-gray{
      position: absolute;
      z-index: 99999999999;
      bottom: 0;
      top: 0;
      right: 0;
      /* width: 135px ;
      height: 395px; */
      background-color:rgba(255,255,255,0.4) ;

    }
    .left-gray{
      position: absolute;
      z-index: 99999999999;
      bottom: 0;
      top: 0;
      left: 0;
      /* width: 137px ;
      height: 395px; */
      background-color:rgba(255,255,255,0.4) ;

    }

    .button {
      width: Hug (200px)px;
height: Hug (32px)px;
/* padding: 11px 45px 11px 45px;
gap: 10px;
border-radius: 32px;
margin-top: 4%;
margin-left: 45%; */
background-color:#FFFFFF;
color:
#513973;
text-decoration: none;
cursor: pointer;
display: inline-block;


    }
    .bg{
      background-color: #FFFFFF;
    }

    @media screen and (min-width:0px) and (max-width:600px){
      .big-img{
        width: 100%;
      }
      .caption{
        top: 15%;
        left:25%;
      }
      .kinds{
        position: absolute;
        top:22%;
        left:10%;

    }
    .item{

      width: 90px;
      height: 80px;
      margin-left: 6px;
      margin-right: 10px;
      padding-top: 6px;
    }
    .item-img{

      width: 59px;
      height: 50px;
      padding-left: 30px;
     }
     .item-txt{
      font-size: 10px;
font-weight: 350;
padding-top: 4px;
     }
     .adoption-1{
      padding-top: 23%;
      padding-left: 2%;
      font-family:  Roboto;

    }

    .title{
      padding-left: 3%;

  font-size: 15px;
  font-weight: 400;
    }
    .pics{
      margin-left: 0.9%;
      margin-top: 2%;
      margin-left: 22%;
    }
    .pet-cart{
      width: 70%;
      height: 190px;

    }
    .meet1{
      width: 70%;
      height: 190px;
      margin-top: 6%;

     }
     /* .fav1{
      width:400px;
      height: 150px;


    } */
    .space{
      padding-top: 3%;
      margin-top: 3%!important;
      /* margin-right: 25px;
      margin-left: 25px; */
      }
      .pet-img{

        width: 80px ;
         height: 110px;

       }
       .name-pet{

        font-size: 12px;
        font-weight: 350;
        /* line-height: 16px; */
          }
          .type-pet{

            font-size: 11px;
            font-weight: 350;
            /* line-height: 16px; */


              }
              .disc{
                padding-left: 3px;
              }
              .disc-name{
                padding-left: 3px;
              }
              .disc1{

                font-size: 12px;
                font-weight: 450;

                  }
                  .paw1{
                    width: 60px;
                height: 60px;

                  }
                  .disc-end{
                    font-size: 12px;
                    font-weight: 450;

                      }
                      .disc-name{
                        padding-top: 6%;
                      }
                      .Planning{
                        font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    padding-top: 11%;
                      }
                      .part1{

                        width: 320px;
                        height: 320px;

                      }
                      .part2{

                        width: 320px;
                        height: 320px;
                  margin-top: 5%;
                  margin-bottom: 5%;
                  /* margin-right: 50%; */
                      }
                      .part3{

                        width: 320px;
                        height: 320px;

                      }
                      .Planning-img{
                        width: 110px;
                    height: 90px;
                    margin-left: 30%;

                      }
                      .big{
                        font-size: 20px;
                        font-weight: 50;
                        line-height: 23px;
                          }
                          .Planning-btn {
                            margin-top: 5%;
                          }
                          .parts{
                            padding-left: 10%;
                            padding-top: 4%;
                          }
                          .sliderpets{


                        width: 100%;
                        padding: 1% 5% 1% 5%;
                        margin-top: 10%;


                          }
                          .disc-Successful{

                            font-size: 20px;
                            font-weight: 500;
                            line-height: 40px;

                              }
                              .disc-slide{

                                font-size: 16px;
                                font-weight: 400;

                                  }
                                  .slider-img{
                                    width: 15%;
                                height: 230px;

                                  }
                                  .right-gray{

                                    width: 90px ;
                                    height: 230px;


                                  }
                                  .left-gray{

                                    width: 90px ;
                                    height: 230px;

                                  }
                                  .right-img{
                                    padding-top: 130%;
                                    padding-left:40% ;

                                  }
                                  .t-btn{
                                    padding-right: 22%;
                                  }
                                  .button {
                                    width: Hug (200px)px;
                              height: Hug (32px)px;
                              padding: 4px 22px 4px 22px;
                              gap: 10px;
                              border-radius: 32px;
                              margin-top: 3%;
                              margin-left: 45%;

                                  }
                                  .adoption{
                                    padding-top: 11%;
                                    padding-left: 2%;
                                    font-family:  Roboto;

                                  }
                                  .header h3{

                                    font-size: 20px;
                                    font-weight: 6500;


                                    }
                                    .header p{

                                      font-size: 15;
                                      font-weight: 400;



                                    }
                                    .t-blogs{
                                      padding-top: 7%;
                                    }

                                    .blog{
                                      height: 250px;
                                      padding-left: 1.5%;
                                     padding-top: 7%;

                                    }
                                    .blog-im{
                                      width: 120%;
                                    }
                                    .desc{


                                      height: 27%;
                                      width: 118%;
                                    }
                                    .desc a{
                                      color:  rgba(245, 243, 243, 1);
                                      height: 70px;

                                      font-size: 10px;
                                      font-weight: 500;
                                      line-height: 12px;

                                    }


    }

    @media screen and (min-width:601px) and (max-width:768px){
      .big-img{
        width: 100%;
      }
      .caption{
        top: 23%;
        left:35%;
     font-weight: 300px;
     font-size: 22px;
      }
      .kinds{
        position: absolute;
        top:34%;
        left:16%;

    }
    .item{

      width: 120px;
      height: 100px;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 9px;
    }
    .item-img{

      width: 90px;
      height: 64px;
      padding-left: 34px;
     }
     .item-txt{
      font-size: 12px;
font-weight: 350;
padding-top: 4px;
     }
     .adoption-1{
      padding-top: 18%;
      padding-left: 4%;
      font-family:  Roboto;

    }
    .title{
      padding-left: 47px;

  font-size: 23px;
  font-weight: 450;
    }
    .pics{
      margin-left: 27%;
      margin-top: 2%;
    }
    .pet-cart{
      width: 60%;
      height: 230px;

    }
    .meet1{
      width: 60%;
      height: 230px;
      margin-top: 6%;

     }
     /* .fav1{
      width:400px;
      height: 150px;


    } */
    .space{
      padding-top: 3%;
      margin-top: 3%!important;
      /* margin-right: 25px;
      margin-left: 25px; */
      }
      .pet-img{

        width: 90px ;
         height: 140px;

       }
       .name-pet{

        font-size: 16px;
        font-weight: 400;
        padding-top: 10%;
        /* line-height: 16px; */
          }
          .type-pet{

            font-size: 16px;
            font-weight: 400;
            /* line-height: 16px; */


              }
              .disc{
                padding-left: 5px;
              }
              .disc-name{
                padding-left: 12px;
              }
              .disc1{

                font-size: 16px;
                font-weight: 500;

                  }
                  .paw1{
                    width: 60px;
                height: 60px;

                  }
                  .disc-end{
                    font-size: 16px;
                    font-weight: 450;

                      }
                      .btn-meet{
                        padding-top: 7%;
                      }
                      .Planning{
                        font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    padding-top: 11%;
                      }
                      .part1{

                        width: 60%;
                        height: 60%;
                        margin-left: 15%;
                      }
                      .part2{

                        width: 60%;
                        height: 60%;
                  margin-top: 5%;
                  margin-bottom: 5%;
                  margin-left: 15%;
                  /* margin-right: 50%; */
                      }
                      .part3{

                        width: 60%;
                        height: 60%;
                        margin-left: 15%;

                      }
                      .Planning-img{
                        width: 110px;
                    height: 90px;
                    margin-left: 30%;

                      }
                      .big{
                        font-size: 20px;
                        font-weight: 50;
                        line-height: 23px;
                          }
                          .Planning-btn {
                            margin-top: 5%;
                          }
                          .parts{
                            padding-left: 10%;
                            padding-top: 4%;


                          }
                          .sliderpets{


                            width: 100%;
                            padding: 2% 5% 2% 5%;
                            margin-top: 10%;


                              }
                              .disc-Successful{

                                font-size: 22px;
                                font-weight: 550;
                                line-height: 40px;

                                  }
                                  .disc-slide{

                                    font-size: 16px;
                                    font-weight: 400;

                                      } .slider-img{
                                        width: 30%;
                                    height: 280px;

                                      }
                                      .right-gray{

                                        width: 90px ;
                                        height: 280px;


                                      }
                                      .left-gray{

                                        width: 90px ;
                                        height: 280px;

                                      }
                                      .right-img{
                                        padding-top: 130%;
                                        padding-left:40% ;

                                        }
                                        .t-btn{
                                          padding-right: 13%;
                                        }

                                        .button {
                                          width: Hug (200px)px;
                                    height: Hug (32px)px;
                                    padding: 6px 26px 6px 26px;
                                    gap: 10px;
                                    border-radius: 32px;
                                    margin-top: 3%;
                                    margin-left: 45%;

                                        }
                                        .adoption{
                                          padding-top: 11%;
                                          padding-left: 2%;
                                          font-family:  Roboto;

                                        }
                                        .header h3{

                                          font-size: 26px;
                                          font-weight: 550;


                                          }
                                          .header p{

                                            font-size: 17px;
                                            font-weight: 450;



                                          }
                                          .t-blogs{
                                            padding-top: 3%;
                                          }

                                          .blog{
                                            height: 250px;
                                            padding-left: 1.5%;
                                           padding-top: 7%;

                                          }
                                          .blog-im{
                                            width: 100%;
                                          }
                                          .desc{


                                            height: 27%;
                                            width: 99.1%;
                                          }
                                          .desc a{
                                            color:  rgba(245, 243, 243, 1);
                                            height: 70px;

                                            font-size: 15px;
                                            font-weight: 500;
                                            line-height: 12px;

                                          }

    }
    @media screen and (min-width:769px) and (max-width:992px){
      .big-img{
        width: 100%;
      }
      .caption{
        top: 28%;
        left:35%;
     font-weight: 300px;
     font-size: 28px;
      }
      .kinds{
        position: absolute;
        top:40%;
        left:17%;

    }
    .item{

      width: 150px;
      height: 130px;
      margin-left: 11px;
      margin-right: 11px;
      padding-top: 11px;
    }
    .item-img{

      width: 130px;
      height: 80px;
      padding-left: 21px;
     }
     .item-txt{
      font-size: 14px;
font-weight: 350;
padding-top: 6px;
     }
     .adoption-1{
      padding-top: 19%;
      padding-left: 5%;
      font-family:  Roboto;

    }
    .title{
      padding-left: 47px;

  font-size: 26px;
  font-weight: 500;
    }
    .pics{
      /* margin-left: 6%; */
      margin-top: 2%;
      display: flex;
      margin-right: 5%;
    }
    .space{
      padding-left: 2%;
      margin-left: 2% !important;
      margin-right: 25px;
      margin-left: 25px;
      }
    .pet-cart{
      width: 170px;
      height: 220px;
/* margin-left: 5px;
margin-right: 5px; */
    }
    .meet1{
      width: 220px;
      height: 220px;

    }
    .fav1{


      width:700px;
      height: 100px;


    }
    .pet-img{

      width: 170px ;
       height: 130px;

       border-radius: 7% 7% 0 0;


     }
     .name-pet{
      padding-top: 16%;
      font-size: 15px;
      font-weight: 550;
      line-height: 16px;

        }
        .type-pet{
          padding-top: 5%;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
            }

            .disc-name{
              padding-left: 5%;
            }
            .disc1{

          font-size: 13px;
          font-weight: 500;

            }
            .paw1{
              width: 70px;
          height: 70px;

            }
            .disc-end{
          font-size: 14px;
          font-weight: 500;

            }
            .btn-meet{
              padding-top: 5%;
            }
            .Planning{
              font-family: Roboto;
          font-size: 20px;
          font-weight: 500;
          padding-top: 11%;
            }
            .part1{

              width: 60%;
              height: 60%;
              margin-left: 15%;
            }
            .part2{

              width: 60%;
              height: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 15%;
        /* margin-right: 50%; */
            }
            .part3{

              width: 60%;
              height: 60%;
              margin-left: 15%;

            }
            .Planning-img{
              width: 110px;
          height: 90px;
          margin-left: 30%;

            }
            .big{
              font-size: 20px;
              font-weight: 50;
              line-height: 23px;
                }
                .Planning-btn {
                  margin-top: 5%;
                }
                .parts{
                  padding-left: 10%;
                  padding-top: 4%;

                }
                .sliderpets{


                  width: 100%;
                  padding: 2% 5% 2% 5%;
                  margin-top: 10%;

                    }
                    .disc-Successful{

                      font-size: 25px;
                      font-weight: 550;
                      line-height: 40px;

                        }
                        .disc-slide{

                          font-size: 16px;
                          font-weight: 400;

                            }
                            .slider-img{
                              width: 30%;
                          height: 280px;

                            }
                            .right-gray{

                              width: 90px ;
                              height: 280px;


                            }
                            .left-gray{

                              width: 90px ;
                              height: 280px;

                            }
                            .right-img{
                              padding-top: 130%;
                              padding-left:40% ;

                              }
                              .t-btn{
                                padding-right: 15%;
                              }
                              .t-btn{
                                padding-right: 10%;
                              }
                              .button {
                                width: Hug (200px)px;
                          height: Hug (32px)px;
                          padding: 6px 26px 6px 26px;
                          gap: 10px;
                          border-radius: 32px;
                          margin-top: 3%;
                          margin-left: 45%;

                              }
                              .adoption{
                                padding-top: 9%;
                                padding-left: 2%;
                                font-family:  Roboto;

                              }
                          .header h3{

                                          font-size: 26px;
                                          font-weight: 550;


                                          }
                                          .header p{

                                            font-size: 17px;
                                            font-weight: 450;



                                          }
                                          .t-blogs{
                                            padding-top: 3%;
                                          }

                                          .blog{
                                            height: 250px;
                                            padding-left: 1.5%;
                                           padding-top: 7%;

                                          }
                                          .blog-im{
                                            width: 100%;
                                          }
                                          .desc{


                                            height: 27%;
                                            width: 99.1%;
                                          }
                                          .desc a{
                                            color:  rgba(245, 243, 243, 1);
                                            height: 70px;

                                            font-size: 15px;
                                            font-weight: 500;
                                            line-height: 12px;

                                          }
                                          .header h3{

                                            font-size: 34px;
                                            font-weight: 700;
                                            line-height: 44px;

                                            }
                                            .header p{

                                              font-size: 23px;
                                              font-weight: 400;
                                              line-height: 32.81px;


                                            }
                                            .t-blogs{
                                              padding-top: 6%;
                                            }
                                            .blog{
                                              height: 250px;
                                              padding-left: 1.5%;


                                            }
                                            .blog-im{
                                              width: 100%;
                                            }
                                            .desc{


                                              height: 30%;
                                              width: 95.5%;
                                            }
                                            .desc a{
                                              color:  rgba(245, 243, 243, 1);
                                              height: 70px;

                                              font-size: 14px;
                                              font-weight: 500;
                                              line-height: 12px;

                                            }
                                            .blogss{
                                              display: flex;
                                            }


    }
    @media screen and (min-width:993px) and (max-width:1200px){
      .big-img{
        width: 100%;
      }
      .caption{
        top: 31%;
        left:37%;
     font-weight: 300px;
     font-size: 30px;
      }
      .kinds{
        position: absolute;
        top:46%;
        left:22%;

    }
    .item{

      width: 170px;
      height: 150px;
      margin-left: 13px;
      margin-right: 13px;
      padding-top: 11px;
    }
    .item-img{

      width: 150px;
      height: 90px;
      padding-left: 21px;
     }
     .item-txt{
      font-size: 17px;
font-weight: 350;
padding-top: 8px;
     }
     .adoption-1{
      padding-top: 21%;
      padding-left: 5%;
      font-family:  Roboto;

    }
    .title{
      padding-left: 47px;

  font-size: 28px;
  font-weight: 550;
    }
    .pics{
      margin-left: 0.7%;
      margin-top: 3%;
      display: flex;
    }
    .space{
      padding-left: 2%;
      margin-left: 2% !important;
      margin-right: 30px;
      margin-left: 30px;
      }
    .pet-cart{
      width: 200px;
      height: 260px;
/* margin-left: 15px;
margin-right: 15px; */
    }
    .meet1{
      width: 200px;
      height: 260px;
    margin-right: 10%;
    }
    .fav1{


      width:700px;
      height: 200px;
      margin-left: 2%;

    }
    .pet-img{

      width: 200px ;
       height: 150px;

       border-radius: 7% 7% 0 0;


     }
     .name-pet{
      padding-top: 16%;
      font-size: 17px;
      font-weight: 550;
      line-height: 16px;

        }
        .type-pet{
          padding-top: 5%;
          font-size: 15px;
          font-weight: 450;
          line-height: 16px;
            }

            .disc-name{
              padding-left: 5%;
            }
            .disc1{

          font-size: 14px;
          font-weight: 500;

            }
            .paw1{
              width: 80px;
          height: 80px;

            }
            .disc-end{
          font-size: 12px;
          font-weight: 500;

            }
            .btn-meet{
              padding-top: 13%;
            }
            .Planning{
              font-family: Roboto;
          font-size: 25px;
          font-weight: 550;
          padding-top: 11%;
            }
            .part1{

              width: 60%;
              height: 60%;
              margin-left: 15%;
            }
            .part2{

              width: 60%;
              height: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 15%;
        /* margin-right: 50%; */
            }
            .part3{

              width: 60%;
              height: 60%;
              margin-left: 15%;

            }
            .Planning-img{
              width: 110px;
          height: 90px;
          margin-left: 30%;

            }
            .big{
              font-size: 20px;
              font-weight: 50;
              line-height: 23px;
                }
                .Planning-btn {
                  margin-top: 5%;
                }
                .parts{
                  padding-left: 10%;
                  padding-top: 4%;

                }
                .sliderpets{


                  width: 100%;
                  padding: 2% 5% 2% 5%;
                  margin-top: 10%;

                    }
                    .disc-Successful{

                      font-size: 25px;
                      font-weight: 550;
                      line-height: 40px;

                        }
                        .disc-slide{

                          font-size: 16px;
                          font-weight: 400;

                            }
                            .slider-img{
                              width: 30%;
                          height: 280px;

                            }
                            .right-gray{

                              width: 90px ;
                              height: 280px;


                            }
                            .left-gray{

                              width: 90px ;
                              height: 280px;

                            }
                            .right-img{
                              padding-top: 130%;
                              padding-left:40% ;

                              }
                              .t-btn{
                                padding-right: 9%;
                              }

                              .button {
                                width: Hug (200px)px;
                          height: Hug (32px)px;
                          padding: 6px 26px 6px 26px;
                          gap: 10px;
                          border-radius: 32px;
                          margin-top: 3%;
                          margin-left: 45%;

                              }
                              .adoption{
                                padding-top: 7%;
                                padding-left: 2%;
                                font-family:  Roboto;

                              }
                              .header h3{

                                font-size: 31px;
                                font-weight: 600;


                                }
                                .header p{

                                  font-size: 24px;
                                  font-weight: 400;



                                }
                                .t-blogs{
                                  padding-top: 4%;
                                }
                                .blog{
                                  height: 250px;
                                  padding-left: 1.5%;


                                }
                                .blog-im{
                                  width: 100%;
                                }
                                .desc{


                                  height: 30%;
                                  width: 95.5%;
                                }
                                .desc a{
                                  color:  rgba(245, 243, 243, 1);
                                  height: 70px;

                                  font-size: 15px;
                                  font-weight: 500;
                                  line-height: 12px;

                                }
                                .blogss{
                                  display: flex;
                                }
    }
    @media screen and (min-width:1201px) {
      .big-img{
        width: 100%;
      }
      .caption{
        top: 37%;
        left:39%;
     font-weight: 300px;
     font-size: 33px;
      }
      .kinds{
        position: absolute;
        top:65%;
        right:18%;

    }
    .item{

      width: 260px;
      height: 220px;
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 26px;
    }
    .item-img{

      width: 120px;
      height: 120px;

      margin-left: 26%;
     }
     .item-txt{
      font-size: 19px;
font-weight: 550;
padding-top: 14px;

     }
     .adoption-1{
      padding-top: 16%;
      padding-right: 5%;
      font-family:  Roboto;

    }
    .adoption{
      padding-top: 10%;
      padding-right: 5%;
      font-family:  Roboto;

    }
    .t-adopt{
      margin-right: 8%;
    }
    .title{
      padding-left: 7%;

  font-size: 30px;
  font-weight: 600;
    }
    .pics{
      margin-left: 1.6%;
      margin-top: 4%;
      display: flex;
    }
    .space{
      padding-left: 3%;
      margin-left: 3% !important;
      margin-right: 25px;
      margin-left: 25px;
      }
    .pet-cart{
      width: 290px;
      height: 340px;
margin-left: 15px;
margin-right: 15px;
    }
    .meet1{
     width: 290px;
      height: 340px;

    }
    .fav1{


      width:1010px;
      height: 300px;


    }
    .pet-img{

      width: 300px ;
       height: 205.9px;

       border-radius: 7% 7% 0 0;


     }
     .name-pet{
      padding-top: 16%;
      font-size: 22px;
      font-weight: 550;
      line-height: 16px;

        }
        .type-pet{
          padding-top: 5%;
          font-size: 16px;
          font-weight: 450;
          line-height: 16px;
            }

            .disc-name{
              padding-left: 5%;
            }
            .disc1{

          font-size: 16px;
          font-weight: 500;

            }
            .paw1{
              width: 100px;
          height: 100px;

            }
            .disc-end{
          font-size: 16px;
          font-weight: 500;

            }
            .btn-meet{
              padding-top: 18%;
            }
            .Planning{
              font-family: Roboto;
          font-size: 30px;
          font-weight: 700;
          padding-top: 7%;
            }
            .parts{
              display: flex;
              align-items: center;
            }
            .part1{

              width: 395px;
              height: 380px;
            }
            .part2{

              width: 395px;
              height: 380px;
              margin-left: 2%;
              margin-right: 2%;
                }
                .part3{

                  width: 395px;
                  height: 380px;


                }
                .Planning-img{
                  width: 120px;
              height: 120px;
              margin-left: 30%;

                }
                .big{
              font-size: 25px;
              font-weight: 550;
              line-height: 26px;
                }
                .small{
              font-size: 19px;
              font-weight: 450;
              line-height: 20px;

                }
                .Planning-btn {
                  margin-top: 10%;
                }
                .parts{
                  padding-left: 10%;
                  padding-top: 4%;
                }
                .sliderpets{


              width: 100%;

              margin-top: 8%;
              padding: 3% 8% 3% 8%;
              /* padding: 50px 152px 50px 152px; */
/* gap: 10px; */

                }
                .disc-Successful{

              font-size: 38px;
              font-weight: 700;
              line-height: 40px;

                }
                .disc-slide{

              font-size: 22px;
              font-weight: 400;

                }
                .slider-img{
                  width: 70%;
              height: 395px;


                }
                .right-gray{

                  width: 140px ;
                  height: 395px;


                }
                .left-gray{

                  width: 140px ;
                  height: 395px;

                }
                .right-img{
                  padding-top: 130%;
                  padding-left:40% ;

                  }
                  .t-btn{
                    padding-right: 3%;
                  }
                  .button {
                    width: Hug (200px)px;
              height: Hug (32px)px;
              padding: 11px 45px 11px 45px;
              gap: 10px;
              border-radius: 32px;
              margin-top: 4%;
              margin-left: 45%;

                  }
                  .header h3{

                    font-size: 38px;
                    font-weight: 700;
                    line-height: 44px;

                    }
                    .header p{

                      font-size: 28px;
                      font-weight: 400;
                      line-height: 32.81px;


                    }
                    .t-blogs{
                      padding-top: 6%;
                    }
                    .blog{
                      height: 250px;
                      padding-left: 1.5%;


                    }
                    .blog-im{
                      width: 100%;
                    }
                    .desc{


                      height: 30%;
                      width: 95.5%;
                    }
                    .desc a{
                      color:  rgba(245, 243, 243, 1);
                      height: 70px;

                      font-size: 20px;
                      font-weight: 500;
                      line-height: 12px;

                    }
                    .blogss{
                      display: flex;
                    }

    }
