.body{

}
.homeimg{
  width: 100%;
  Height:1440;
  position: relative;
}

.h2Paragraph{
  position: absolute;
top: 27%;
left:15%;
  color:  rgba(15, 15, 15, 0.95);
 font-family:Roboto;
font-size:48px;
Line-height:48px;
font-weight: 800;

}
.h3Paragraph{
  position: absolute;
  top: 40%;
  left: 29%;
  color:  rgba(15, 15, 15, 0.95);
 font-family:Roboto;
 font-size:40px;
 font-weight: 500;
 Line-height:
40px;

}
.searchForm{
  width:53% ;
  position: absolute;
  top:60%;
  left: 23%;
  background-color:  rgba(245, 243, 243, 1);

}
.searchForm input{
  background-color:  rgba(245, 243, 243, 1);
}
.search{
  padding-top: 31px;
}
.search button{
  background: rgba(81, 57, 115, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
  color: rgba(245, 243, 243, 1);
  padding-top: 11px;
  padding-bottom:11px ;


}
.shape{
  border-radius: 12px;
  border-width: 1px;
}
.services{
  position: absolute;
 top:695px;
 left:16%


}
.item{
  background: rgba(241, 240, 240, 1);
  border-radius: 12px;
  border-width: 1px;
}
.services a{
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 28px;
color: rgba(15, 15, 15, 0.95);
text-decoration: none;

}

.services img {
width: 100px;
height: 100px;
}
.secondSection{
  padding-top: 110px;
  background: rgba(241, 236, 236, 1);

}
.secondSection h3{
  font-family: Roboto;
font-size: 38px;
font-weight: 600;
color: rgba(15, 15, 15, 0.95);
line-height: 44px;
}

.secondSection p
  {
    color: rgba(15, 15, 15, 0.8);

    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    line-height: 28px;

}
.iconDiv{
  background: rgba(81, 57, 115, 1);

}
.divstep{
  padding-right: 40px;
}
.finalsteps p{
  font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 21px;
text-align: left;
color: rgba(15, 15, 15, 0.6);

}
.sliderreview{
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}
.sliderreview h5{
  font-family: Roboto;
font-size: 40px;
font-weight: 800;
line-height: 45px;
color: rgba(15, 15, 15, 0.95);
text-align: left;

}
.sliderreview a{
  font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
color:rgba(81, 57, 115, 1);
}

.morereview{
  text-align:end;
}
.infoo{
  background: rgba(241, 236, 236, 1);
padding-left: 150px;
padding-right: 150px;
}
.infoo h4{
  font-family: Roboto;
font-size: 38px;
font-weight: 700;
line-height: 44px;
text-align: left;

}
.infosection{
  padding-right:160px ;
}
.infosection img{
  width: 40px;
height: 40px;
}
.infosection h6{
  font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 23px;
color: rgba(15, 15, 15, 0.95);
padding-top: 10px;
}
.infosection p{
  font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21.09px;
color: rgba(15, 15, 15, 0.6);


}
.header h3{
color: rgba(15, 15, 15, 0.95);
font-family: Roboto;
font-size: 38px;
font-weight: 700;
line-height: 44px;
text-align: left;
}
.header p{
  color: rgba(15, 15, 15, 0.8);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  text-align: left;

}
.desc{
  
  background: rgba(15, 15, 15, 0.6);
  position: absolute;
  bottom:0px ;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 75px;
}
.desc a{
  color:  rgba(245, 243, 243, 1);
  height: 70px;
  padding-top: 10px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: left;

  
}
.blog{
  position: relative;
  height: 250px;
  border-radius: 10px;

}
.blog img{
  height: 100%;
  border-radius: 8px;
}
.slider{
  padding-top:3%;
}
.sliderreview{background-color: rgba(254, 251, 251, 0.904);
}
.reviewDiv{
border-radius: 10px;
}
.reviewDiv img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  }
  .reviewDescription{background-color: rgba(255, 255, 255, 1);
  }
 .reviewDescriptionrigt { border-bottom-right-radius:16px ;}
 .reviewDescriptionrigt a{
  font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 23.44px;
text-align:left;
color: rgba(15, 15, 15, 0.95);
text-decoration: none;
 }
 .reviewDescriptionrigt p{
  font-family: Roboto;
font-size: 15px;
color: rgba(15, 15, 15, 0.5);


 }
 .reviewDescriptionLeft{border-bottom-left-radius:16px ;
}
.left{
  text-align: end;
}
.yelllow{
  color: rgba(253, 202, 37, 1);

}
.select{
  background-color:  rgba(245, 243, 243, 1);
}
