
.homeimg{
  width: 100%;
  position: relative;
}

.h2Paragraph{
  position: absolute;
  color:  rgba(15, 15, 15, 0.95);
 font-family:Roboto;
}
.h3Paragraph{
  position: absolute;
  color:  rgba(15, 15, 15, 0.95);
 font-family:Roboto;
}
.searchForm{
  position: absolute;
  background-color:  rgba(245, 243, 243, 1);
}
.searchForm input{
  font-family: Roboto;
}

.searchForm label{
  font-family: Roboto;
}
.searchForm button{
  background: rgba(81, 57, 115, 1);
  font-family: Roboto;
  line-height: 18.75px;
  text-align: center;
  color: rgba(245, 243, 243, 1);
}
.shape{
  border-radius: 12px;
  border-width: 1px;
}
.item{
  background: rgba(241, 240, 240, 1);
  border-radius: 12px;
  border-width: 1px;
}
.services a{
  font-family: Roboto;
color: rgba(15, 15, 15, 0.95);
text-decoration: none;
}

.secondSection{
  background: rgba(241, 236, 236, 1);
}
.secondSection h3{
  font-family: Roboto;
color: rgba(15, 15, 15, 0.95);
line-height: 44px;
}

.secondSection p
  {
    color: rgba(15, 15, 15, 0.8);
    font-family: Roboto;

}
.iconDiv{
  background: rgba(81, 57, 115, 1);
}
.sliderreview h5{
  font-family: Roboto;
line-height: 45px;
color: rgba(15, 15, 15, 0.95);
text-align: left;

}
.sliderreview a{
  font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
color:rgba(81, 57, 115, 1);
}

.morereview{
  text-align:end;
}
.infoo{
  background: rgba(241, 236, 236, 1);
padding-left: 150px;
padding-right: 150px;
}
.infoo h4{
  font-family: Roboto;
font-size: 38px;
font-weight: 700;
line-height: 44px;
text-align: left;

}
.infosection{
  padding-right:160px ;
}
.infosection img{
  width: 40px;
height: 40px;
}
.infosection h6{
  font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 23px;
color: rgba(15, 15, 15, 0.95);
padding-top: 10px;
}
.infosection p{
  font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21.09px;
color: rgba(15, 15, 15, 0.6);


}
.header h3{
color: rgba(15, 15, 15, 0.95);
font-family: Roboto;
font-size: 38px;
font-weight: 700;
line-height: 44px;
text-align: left;
}
.header p{
  color: rgba(15, 15, 15, 0.8);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  text-align: left;

}
.desc{

  background: rgba(15, 15, 15, 0.6);
  position: absolute;
  bottom:0px ;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 75px;
}
.desc a{
  color:  rgba(245, 243, 243, 1);
  height: 70px;
  padding-top: 10px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: left;


}
.blog{
  position: relative;
  height: 250px;
  border-radius: 10px;

}
.blog img{
  height: 100%;
  border-radius: 8px;
}

.sliderreview{background-color: rgba(254, 251, 251, 0.904);
}
.reviewDiv{
border-radius: 10px;
}
.reviewDiv img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  }
  .reviewDescription{background-color: rgba(255, 255, 255, 1);
  }
 .reviewDescriptionrigt { border-bottom-right-radius:16px ;}
 .reviewDescriptionrigt a{
  font-family: Roboto;
line-height: 23.44px;
color: rgba(15, 15, 15, 0.95);
text-decoration: none;
 }
 .reviewDescriptionrigt p{
  text-align: left;
  font-family: Roboto;
color: rgba(15, 15, 15, 0.5);
 }
 .reviewDescriptionLeft{border-bottom-left-radius:16px ;
}
.yelllow{
  color: rgba(253, 202, 37, 1);

}
.select{
  background-color:  rgba(245, 243, 243, 1);
}
@media screen and (min-width:0px) and (max-width:450px) {
  .firstSection{
    width: 100%;
  }
  .homeimg{
    width: 100%;
    position: relative;
  }
  .h2Paragraph{
  top:7%;
 width: 80%;
 left: 10%;
 font-size: 14px;
  Line-height:35px;
  font-weight:600; text-align: center;
}
.h3Paragraph{
  top:11%;
  left: 20%;
  width: 60%;
 font-size:14px;
 font-weight: 300;
 Line-height:
35px; text-align: center;
}
.searchForm{
  width:70% ;
  height:19%;
  top:15%;
left:15%;
padding: 0% 1%;
}
.date ::placeholder{
 display: none;
}
.fas .fa-search{
  width: 8px;
  height: 8px;
}
.searchForm label{
  font-size: 12px;
}
.itemSearch{
  width: 90%;
}
.searchForm input{
  width: 95%;
}
.searchForm .select{
  width: 97%;
}
.searchForm ::placeholder{
  font-size: 10px;
}
.searchForm button{
  margin-right: 10%;
  width: 100%;
  margin-top: 16%;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 6%;
  padding-top:6%;
}
.services2{
  position: absolute;
  top:35%;
  width: 80%;
  margin-left: 10%;
}
.services2{display: flex; justify-content: space-between; }
.services a{
  font-size:10px;
font-weight: 400;
line-height: 20px;
}
.services img{
  width:40px;
  height:40px;
}
.smallservices{
padding: 0% 3%;
margin-left: .5%;

}
.secondSection{padding-top: 15%;}
.secondSection h3{
  font-size: 20px; font-weight: 500;text-align: center; margin-bottom: 1%;
}
.steps{
  width: 80%;
  margin-left: 10%;
}
.pp{
  font-size: 16px; font-weight: 300;text-align: center; margin-bottom: 4%; width: 85%; margin-left: 7.5%;
}
.icondiv img{
  width:  15px; height: 15px; margin-left: 20%; margin-top: 3%;
}
.icondiv{
  background-color:rgba(81, 57, 115, 1);
  border-radius: 5px; width: 9%; border-width: 1px;
  border-color: rgba(15, 15, 15, 0.5);
}
.pdiv{
  border-radius: 5px;  border-width: 1px; width:60% ;
  border-color: rgba(15, 15, 15, 0.5); padding: 0% 2%;
}
.pdiv p{
  font-size: 14px; font-weight: 400;padding: 2% 0%;
  color: rgba(15, 15, 15, 0.8); text-align: left;}
.item{
margin-bottom: 2%;
}
.item1{
  margin-bottom: 1.5%;
}
.p1{
  font-size: 12px; text-align: left; width: 85%; color: rgba(15, 15, 15, 0.6);

}
.sliderreview{
  padding: 2% 0%;
}
.sliderreview h5{font-size: 22px; font-family: 800; padding: 0% 2%;}
.slider{width: 98%; margin-left: 1%;}
.reviewDiv{width: 32.5%;}
.reviewDiv img{width: 100%; height: 130px;}
.reviewDescriptionrigt a{font-size: 10px; font-weight: 500;}
.reviewDescriptionrigt p{font-size: 10px; font-weight: 400;margin-top: 2%; }
.rate img{width: 10px; height: 10px;}
.rate{margin-top: 10%;}
.reviewDescription{width: 100%;}
.reviewDescriptionLeft{}
.price{padding-top: 15%; margin-left: 9%;}
}
@media screen and (min-width:451px) and (max-width:550px) {
  .firstSection{
    width: 100%;
  }
  .homeimg{
    width: 100%;
    position: relative;
  }
  .h2Paragraph{
  top:9%;
  width: 80%;
  left: 10%;
  font-size:16px;
  Line-height:35px;
  font-weight:800; text-align: center;
}
.h3Paragraph{
  top:13%;
  left: 15%;
  width: 70%;
 font-size:16px;
 font-weight:400;
 Line-height:
35px; text-align: center;
}
.searchForm{
  width:75% ;
  height:20%;
  top:19%;
left:12.5%;
padding: 0% 1%;
}
.itemSearch{
  width:100%;
  margin-bottom:1%;
}
.searchForm input{
  width: 95%;
}
.searchForm .select{
  width: 95%;
}
.fas .fa-search{
  width:10px;
  height:10px;
}
.searchForm label{
  font-size:12px;
}
.searchForm ::placeholder{
  font-size: 12px;
}
.searchForm button{
  width: 95%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: 300;
  padding-top: 5%;
  padding-bottom: 5%;
}

.services2{
  position: absolute;
  top:40%;
  width: 80%;
  margin-left: 10%;
}
.services2{display: flex; justify-content: space-between; }
.services a{
  font-size:12px;
font-weight: 400;
line-height: 20px;
}
.services img{
  width:40px;
  height:40px;
}
.smallservices{
padding: 1% 2.5%; margin-right: 1%;
}
.secondSection{padding-top: 13%;}
.secondSection h3{
  font-size: 24px; font-weight: 500;text-align: center; margin-bottom: 1%;
}
.steps{
  width: 80%;
  margin-left: 10%;
}
.pp{
  font-size: 16px; font-weight: 300;text-align: center; margin-bottom: 4%; width: 85%; margin-left: 7.5%;
}
.icondiv img{
  width:  15px; height: 15px; margin-left: 20%; margin-top: 3%;
}
.icondiv{
  background-color:rgba(81, 57, 115, 1);
  border-radius: 5px; width: 9%; border-width: 1px;
  border-color: rgba(15, 15, 15, 0.5);
}
.pdiv{
  border-radius: 5px;  border-width: 1px; width:60% ;
  border-color: rgba(15, 15, 15, 0.5); padding: 0% 2%;
}
.pdiv p{
  font-size: 14px; font-weight: 400;padding: 2% 0%;
  color: rgba(15, 15, 15, 0.8); text-align: left;}
.item{
margin-bottom: 2%;
}
.item1{
  margin-bottom: 1.5%;
}
.p1{
  font-size: 12px; text-align: left; width: 85%; color: rgba(15, 15, 15, 0.6);
}
.sliderreview{
  padding: 2% 1%;
}
.sliderreview h5{font-size: 22px; font-family: 800; padding: 0% 2%;}
.slider{width: 98%; margin-left: 1%;}
.reviewDiv{width: 32.5%;}
.reviewDiv img{width: 100%; height:160px;}
.reviewDescriptionrigt a{font-size: 10px; font-weight: 500;}
.reviewDescriptionrigt p{font-size: 10px; font-weight: 400; margin-top: 2%;}
.rate img{width: 10px; height: 10px;}
.rate{margin-top: 80%;}
.reviewDescription{width: 100%;}
.reviewDescriptionLeft{padding-top:10% ;}
.price{text-align: right; margin-top: 2%;}

}
@media screen and (min-width:551px) and (max-width:650px) {
  .firstSection{
    width: 100%;
  }
  .homeimg{
    width: 100%;
    position: relative;
  }
  .h2Paragraph{
  top:11%;
  width: 80%;
  left: 10%;
  font-size:18px;
  Line-height:35px;
  font-weight:800; text-align: center;
}
.h3Paragraph{
  top:16%;
  left: 15%;
  width: 70%;
 font-size:18px;
 font-weight:400;
 Line-height:
35px; text-align: center;
}
.searchForm{
  width:70% ;
  height:20%;
  top:23%;
left:15%;
padding: 0% 1%;
}
.itemSearch{
  width:100%;
  margin-bottom:1%;
}
.searchForm input{
  width: 95%;
}
.searchForm .select{
  width: 95%;
}
.fas .fa-search{
  width:10px;
  height:10px;
}
.searchForm label{
  font-size:12px;
}
.searchForm ::placeholder{
  font-size: 12px;
}
.searchForm button{
  width: 95%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: 300;
  padding-top: 5%;
  padding-bottom: 5%;
}

.services2{
  position: absolute;
  top:48%;
  width: 70%;
  margin-left: 15%;
}
.services a{
  font-size:12px;
font-weight: 400;
line-height: 20px;
}
.services img{
  width:45px;
  height:45px;
}
.smallservices{
padding: 1% 3%; margin-right: 1%;
}
.secondSection{padding-top: 15%;}
.secondSection h3{
  font-size: 24px; font-weight: 600;text-align: center; margin-bottom: 1%;
}
.services2{display: flex; justify-content: space-between; }
.steps{
  width: 100%;
  margin-left: 0%; display: flex;
}
.pp{
  font-size: 16px; font-weight: 300;text-align: center; margin-bottom: 4%; width: 85%; margin-left: 7.5%;
}
.icondiv img{
  width:  15px; height: 15px; margin-left: 20%; margin-top: 3%;
}
.icondiv{
  background-color:rgba(81, 57, 115, 1);
  border-radius: 5px; width: 15%; border-width: 1px;
  border-color: rgba(15, 15, 15, 0.5);
}
.pdiv{
  border-radius: 5px;  border-width: 1px; width:80% ;
  border-color: rgba(15, 15, 15, 0.5); padding: 0% 1%;
}
.pdiv p{
  font-size: 14px; font-weight: 400;padding: 2% 0%;
  color: rgba(15, 15, 15, 0.8); text-align: left;}
.item{
margin-bottom: 0%; width: 34%;
}
.item1{
  margin-bottom: 2%;
}
.p1{
  font-size: 12px; text-align: left; width: 95%; color: rgba(15, 15, 15, 0.6);

}
.sliderreview{
  padding: 2% 1%;
}
.sliderreview h5{font-size: 22px; font-family: 800; padding: 0% 2%;}
.slider{width: 94%; margin-left: 3%;}
.reviewDiv{width: 32.5%;}
.reviewDiv img{width: 100%; height:160px;}
.reviewDescriptionrigt a{font-size: 12px; font-weight: 500;}
.reviewDescriptionrigt p{font-size: 12px; font-weight: 400;margin-top: 3%; }
.rate img{width: 10px; height: 12px;}
.rate{margin-bottom: 8%;}
.reviewDescription{width: 100%; }
.reviewDescriptionLeft{}
.price{text-align: right;margin-top: 3%;}

}
@media screen and (min-width:651px) and (max-width:800px) {
  .firstSection{
    width: 100%;
  }
  .homeimg{
    width: 100%;
    position: relative;
  }
  .h2Paragraph{
  top:13%;
  width: 80%;
  left:10%;
  font-size:22px;
  Line-height:35px;
  font-weight:800; text-align: center;
}
.h3Paragraph{
  top:18%;
width: 70%;
left: 15%;
 font-size:22px;
 font-weight:400;
 Line-height:
35px;text-align: center;
}
.searchForm{
  width:60% ;
  height:21%;
  top:29%;
left:20%;
padding: 1% 2%;
}
.itemSearch{
  width:100%;
  margin-bottom:2%;
}
.fas .fa-search{
  width:10px;
  height:10px;
}
.searchForm label{
  font-size:14px;
  margin-bottom: .5%;
}
.searchForm ::placeholder{
  font-size: 14px;
}
.searchForm input{
  padding-top:2%;
  padding-bottom: 2%;
  width: 95%;
}
.searchForm .select{
  padding-top:2%;
  padding-bottom: 2%;
  width: 95%;
}

.searchForm button{
  width: 95%;
  margin-top: 5%;
  font-size: 18px;
  font-weight: 300;
  padding-top: 3.5%;
  padding-bottom: 3%;
}
.services{
  width: 65%;
  position: absolute;
top:57%;
left: 17.5%;
}
.services2{display: flex; justify-content: space-between; }
.services a{
  font-size:14px;
font-weight: 400;
line-height: 20px; text-align: center;
}
.services img{
  width:45px;
  height:45px;margin-left: 20%;
}
.smallservices{
width: 19%; padding: 2.5% 0%;
margin: auto;
}
.secondSection{padding-top: 15%;}
.secondSection h3{
  font-size: 28px; font-weight: 600;text-align: center; margin-bottom: 1%;
}
.steps{
  width: 94%;
  margin-left: 3%; display: flex; justify-content: space-between;
}
.pp{
  font-size: 22px; font-weight: 300;text-align: center; margin-bottom: 4%; width: 85%; margin-left: 7.5%;
}
.icondiv img{
  width:  15px; height: 15px; margin-left: 20%; margin-top: 3%;
}
.icondiv{
  background-color:rgba(81, 57, 115, 1);
  border-radius: 5px; width: 15%; border-width: 1px;
  border-color: rgba(15, 15, 15, 0.5);
}
.pdiv{
  border-radius: 5px;  border-width: 1px; width:80% ;
  border-color: rgba(15, 15, 15, 0.5); padding: 0% 1%;
}
.pdiv p{
  font-size: 14px; font-weight: 400;padding: 2% 0%;
  color: rgba(15, 15, 15, 0.8); text-align: left;}
.item{
margin-bottom: 0%; width: 33%;
}
.item1{
  margin-bottom: 3%;
}
.p1{
  font-size: 13px; text-align: left; width: 95%; color: rgba(15, 15, 15, 0.6);

}
.sliderreview{
  padding: 2% 2%;
}
.sliderreview h5{font-size: 22px; font-family: 800; padding: 0% 2%;}
.slider{width: 90%; margin-left: 5%;}
.reviewDiv{width: 32.5%;}
.reviewDiv img{width: 100%; height:160px;}
.reviewDescriptionrigt a{font-size: 12px; font-weight: 500;}
.reviewDescriptionrigt p{font-size: 12px; font-weight: 400;  margin-top: 4%;}
.rate img{width: 16px; height: 18px;}
.rate{}
.reviewDescription{width: 100%; }
.reviewDescriptionLeft{}
.price{text-align: right; margin-top: 4%;}

}
@media screen and (min-width:801px) and (max-width:1000px) {
  .firstSection{
    width: 100%;
  }
  .homeimg{
    width: 100%;
    position: relative;
  }
  .h2Paragraph{
  top:16%;
  left:10%;
  width: 80%;text-align: center;
  font-size:30px;
  Line-height:38px;
  font-weight:800;
}
.h3Paragraph{
  top:22%;
  left: 15%;
  width: 70%;text-align: center;
 font-size:30px;
 font-weight:800;
 Line-height:
35px;
}
.searchForm{
  width:60% ;
  height:29%;
  top:31%;
left:20%; padding: 1% 3%;
}
.itemSearch{
  width:100%;
  margin-bottom:2%;
}
.fas .fa-search{
  width:10px;
  height:10px;
}
.searchForm label{
  font-size:18px;
  margin-bottom: 1%;
}
.searchForm ::placeholder{
  font-size:16px;
}
.searchForm input{
  padding-top:4%;
  width: 95%;
  padding-bottom: 4%;
}
.searchForm .select{
  padding-top:4%;
  width: 95%;
  padding-bottom:4%;
}

.searchForm button{
  width: 95%;
  margin-top:10%;
  font-size: 22px;
  font-weight: 300;
  padding-top: 4.5%;
  padding-bottom:4.5%;
}
.services{
  position: absolute;
top:70%;
width:75%;
left: 12.5%;
}
.services2{display: flex; justify-content: space-between; }
.services a{
  font-size:16px;
font-weight: 400;
line-height: 20px;text-align: center;
}
.services img{
  width:55px;
  height:55px;margin-left: 20%;
}
.smallservices{
width: 18%;
margin: auto;padding:2.5% 0%;
}
.secondSection{padding-top: 15%;}
.secondSection h3{
  font-size: 28px; font-weight: 600;text-align: center; margin-bottom: 1%;
}
.steps{
  width:90%;
  margin-left: 5%; display: flex; justify-content: space-between;
}
.pp{
  font-size: 22px; font-weight: 300;text-align: center; margin-bottom: 4%; width: 85%; margin-left: 7.5%;
}
.icondiv img{
  width:  15px; height: 15px; margin-left: 22%; margin-top: 3%;
}
.icondiv{
  background-color:rgba(81, 57, 115, 1);
  border-radius: 5px; width: 15%; border-width: 1px;
  border-color: rgba(15, 15, 15, 0.5);
}
.pdiv{
  border-radius: 5px;  border-width: 1px; width:80% ;
  border-color: rgba(15, 15, 15, 0.5); padding: 0% 1%;
}
.pdiv p{
  font-size: 16px; font-weight: 400;padding: 2% 0%;
  color: rgba(15, 15, 15, 0.8); text-align: left;}
.item{
margin-bottom: 0%; width: 32%;
}
.item1{
  margin-bottom: 5%;
}
.p1{
  font-size: 14px; text-align: left; width: 95%; color: rgba(15, 15, 15, 0.6);

}
.sliderreview{
  padding: 2% 2%;
}
.sliderreview h5{font-size: 24px; font-family: 800; padding: 0% 6%;  margin-bottom: 3%;}
.slider{width: 88%; margin-left: 6%; margin-bottom: 5%;}
.reviewDiv{width: 32.5%;}
.reviewDiv img{width: 100%; height:160px;}
.reviewDescriptionrigt a{font-size: 16px; font-weight: 500;}
.reviewDescriptionrigt p{font-size: 16px; font-weight: 400; margin-top: 5%; }
.rate img{width: 20px; height: 20px;}
.rate{}
.reviewDescription{width: 100%; }
.price{text-align: right; margin-top: 5%;}
}
@media screen and (min-width:1001px) and (max-width:1190px) {
  .firstSection{
    width: 100%;
  }
  .homeimg{
    width: 100%;
    position: relative;
  }
  .h2Paragraph{
  top:20%;
  left:10%;
  width: 80%;text-align: center;
  font-size:30px;
  Line-height:38px;
  font-weight:800;
}
.h3Paragraph{
  top:27%;
  left: 15%;
  width: 70%;text-align: center;
 font-size:30px;
 font-weight:800;
 Line-height:
35px;
}
.searchForm{
  width:60% ;
  height:33%;
  top:39%;
left:20%; padding: 2% 4%;
}
.itemSearch{
  width:100%;
  margin-bottom:2%;
}
.fas .fa-search{
  width:10px;
  height:10px;
}
.searchForm label{
  font-size:18px;
  margin-bottom: 1%;
}
.searchForm ::placeholder{
  font-size:16px;
}
.searchForm input{
  padding-top:4%;
  width: 95%;
  padding-bottom: 4%;
}
.searchForm .select{
  padding-top:4%;
  width: 95%;
  padding-bottom:4%;
}

.searchForm button{
  width: 95%;
  margin-top:6%;
  font-size: 22px;
  font-weight: 300;
  padding-top: 4.5%;
  padding-bottom:4.5%;
}
.services{
  position: absolute;
top:83%;
width:70%;
left:15%;
}
.services2{display: flex; justify-content: space-between; }
.services a{
  font-size:18px;
font-weight: 400;
line-height: 20px;text-align: center;
}
.services img{
  width:60px;
  height:60px;margin-left: 27%; margin-bottom: 2%;
}
.smallservices{
width: 18%;
margin: auto;padding:3% 0%;
}
.secondSection{padding-top: 15%;}
.secondSection h3{
  font-size:32px; font-weight: 800;text-align: center; margin-bottom: 1.5%;
}
.steps{
  width:86%;
  margin-left: 7%; display: flex; justify-content: space-between;
}
.pp{
  font-size: 24px; font-weight: 300;text-align: center; margin-bottom: 5%; width: 85%; margin-left: 7.5%;
}
.icondiv img{
  width:  20px; height: 20px; margin-left: 20%; margin-top: 20%;
}
.icondiv{
  background-color:rgba(81, 57, 115, 1);
  border-radius: 5px; width: 15%; border-width: 1px;
  border-color: rgba(15, 15, 15, 0.5);
}
.pdiv{
  border-radius: 5px;  border-width: 1px; width:80% ;
  border-color: rgba(15, 15, 15, 0.5); padding: 1% 1%;
}
.pdiv p{
  font-size: 18px; font-weight: 400;padding: 2% 0%;
  color: rgba(15, 15, 15, 0.8); text-align: left;}
.item{
margin-bottom: 0%; width: 31%;
}
.item1{
  margin-bottom: 5%;
}
.p1{
  font-size: 15px; text-align: left; width: 100%; color: rgba(15, 15, 15, 0.6);

}
.sliderreview{
  padding: 2% 2%;
}
.sliderreview h5{font-size: 28px; font-family: 800; padding: 0% 7%;  margin-bottom: 2%;}
.slider{width: 86%; margin-left: 7%; margin-bottom: 5%;}
.reviewDiv{width: 32.5%;}
.reviewDiv img{width: 100%; height:180px;}
.reviewDescriptionrigt a{font-size: 18px; font-weight: 500;}
.reviewDescriptionrigt p{font-size: 18px; font-weight: 400; margin-top: 5%;}
.rate img{width: 20px; height: 20px;}
.rate{}
.reviewDescription{width: 100%; }
.reviewDescriptionLeft{}
.price{text-align: right; margin-top: 5%;}
}
@media screen and (min-width:1191px)  {
  .firstSection{
    width: 100%;
  }
  .homeimg{
    width: 100%;
    position: relative;
  }
  .h2Paragraph{
  top:30%;
  left:10%;
  width: 80%;text-align: center;
  font-size:48px;
  Line-height:48px;
  font-weight:800;
}
.h3Paragraph{
  top:46%;
  left: 15%;
  width: 70%;text-align: center;
 font-size:40px;
 font-weight:800;
 Line-height:
35px;
}
.searchForm{
  width:50% ;
  height:33%;
  top:60%;
left:25%; padding: 1.5% 3%;
}
.itemSearch{
  width:100%;
  margin-bottom:2%;
}
.fas .fa-search{
  width:10px;
  height:10px;
}
.searchForm label{
  font-size:18px;
  margin-bottom: 1%;
}
.searchForm ::placeholder{
  font-size:16px;
}
.searchForm input{
  padding-top:4%;
  width: 95%;
  padding-bottom: 4%;
}
.searchForm .select{
  padding-top:4%;
  width: 95%;
  padding-bottom:4%;
}

.searchForm button{
  width: 95%;
  margin-top:6%;
  font-size: 22px;
  font-weight: 300;
  padding-top: 4.5%;
  padding-bottom:4.5%;
}
.services{
  position: absolute;
top:106%;
width:70%;
left:15%;
}
.services2{display: flex; justify-content: space-between; }
.services a{
  font-size:22px;
font-weight: 500;
line-height: 20px;text-align: center;
}
.services img{
  width:88px;
  height:88px;margin-left: 22%; margin-bottom: 4%;
}
.smallservices{
width: 15%; margin-left: 2%;
padding:2.5% 0%;
}
.secondSection{padding-top: 15%;}
.secondSection h3{
  font-size:38px; font-weight: 800;text-align: center; margin-bottom: 1.5%;
}
.steps{
  width:80%;
  margin-left: 10%; display: flex; justify-content: space-between;
}
.pp{
  font-size: 24px; font-weight: 400;text-align: center; margin-bottom: 5%; width: 85%; margin-left: 7.5%;
}
.icondiv img{
  width:  30px; height: 30px; margin-left: 17%; margin-top: 12%;
}
.icondiv{
  background-color:rgba(81, 57, 115, 1);
  border-radius: 5px; width: 15%; border-width: 1px;
  border-color: rgba(15, 15, 15, 0.5);
}
.pdiv{
  border-radius: 5px;  border-width: 1px; width:80% ;
  border-color: rgba(15, 15, 15, 0.5); padding: .1% 1%;
}
.pdiv p{
  font-size: 20px; font-weight: 400;padding: 2% 0%;
  color: rgba(15, 15, 15, 0.8); text-align: left;}
.item{
margin-bottom: 0%; width: 31%;
}
.item1{
  margin-bottom: 4%;
}
.p1{
  font-size: 18px; text-align: left; width:85%; color: rgba(15, 15, 15, 0.6);
}
.sliderreview{
 padding-top: 6%; padding-bottom: 0%; padding-left: 2%; padding-right: 2%;
}
.sliderreview h5{font-size: 40px; font-family: 800; padding: 0% 7%;  margin-bottom: 2%;}
.slider{width: 86%; margin-left: 7%; margin-bottom: 4%;}
.reviewDiv{width: 32.5%;}
.reviewDiv img{width: 100%; height:190px;}
.reviewDescriptionrigt a{font-size: 20px; font-weight: 500; }
.reviewDescriptionrigt p{font-size: 20px; font-weight: 400; margin-top: 7%;}
.rate img{width: 25px; height: 25px;}

.reviewDescription{width: 100%; height: 70px;}
.reviewDescriptionLeft{}
.price{ margin-top: 7%; margin-left: 45%;}
}
