<!DOCTYPE html>
<div class="firestSection m-auto">
  <img class=" cover  homeimg" src="../../assets/images/home.png"
  alt="not found">
  <h2 class="h2Paragraph  mb-0" >
    Find a loving local pet sitter or dog Walker</h2>
    <p class=" h3Paragraph ">Who treats your pet like family</p>
    <form class=" searchForm shape border" (ngSubmit)="submitbook(bookForm)"  [formGroup]="bookForm">
    <div class=" firstSearchform d-flex ">
      <div class="itemSearch ">

         <label class=" " for="serviceType">I’m looking for</label>
         <select class="select  shape border form-control"  formControlName="serviceType" aria-placeholder="selectservice" id="serviceType">
          <option id="serviceType" formControlName="serviceType">Select Service</option>
          <option id="serviceType" formControlName="serviceType">Pet Boarding</option>
          <option id="serviceType"formControlName="serviceType" >Pet Grooming</option>
          <option id="serviceType"formControlName="serviceType">Pet Sitting</option>
          <option id="serviceType" formControlName="serviceType">Pet Training</option>
          <option id="serviceType" formControlName="serviceType">Pet Walking</option>
          <option id="serviceType" formControlName="serviceType">Pet Taxi</option>
                  </select>
        </div>
<div class=" itemSearch ">
  <label class=" " for="location">Near</label>
  <input type="text" formControlName="location" placeholder="Your location"
   class="  shape border form-control" id="location">
</div>
    </div>
    <div class="  seconedSearchform d-flex algin-items-center">
      <div class=" itemSearch  ">
         <label class=" " for="date"> Dates</label>
        <input type="date" formControlName="date"
         class="date  shape border form-control" id="date">
        </div>
<div class="itemSearch m-auto">

  <button type="submit" class="shape border "><i class="fas fa-search "></i>
    search</button>
</div>

    </div>
   </form>
   <!----------services------->
   <div class="services m-auto  ">
    <div class="  services2  ">
      <div class="  item smallservices border ">
        <img class=" " src="../../assets/images/veterinary 1.png" alt="">
        <div class=" text-center"><a routerLink="/vet">Veterinary</a></div>
      </div>
      <div class=" item smallservices border ">
        <img class="" src="../../assets/images/dog (2) 1.png" alt="">
        <div class=" text-center"><a routerLink="/more">Day Care
          </a></div>
      </div>
      <div class="smallservices  item border ">
        <img class="" src="../../assets/images/pet-supplies 1.png" alt="">
        <div class=" text-center"><a routerLink="/shop">Supplies</a></div>
      </div>
      <div class="item border smallservices ">
        <img class="" src="../../assets/images/adoption 1.png" alt="">
        <div class=" text-center"><a routerLink="/adoption">Adoption</a></div>
      </div>
      <div class="item border smallservices ">
        <img class="" src="../../assets/images/pets 1.png" alt="">
        <div class=" text-center"><a routerLink="/more">More</a></div>
      </div>
    </div>

</div>
    </div>
   <!---------paragraphs-->
   <div class= " secondSection ">
      <h3 class="  ">Scooby made it easy for you</h3>
<p class="pp">Search and connect with trusted
   pet services providers. It's easy as 1, 2, 3.</p>
   <!--------steps-->
   <div class="steps">
   <div class="item ">
    <div class="d-flex item1">
    <div class="icondiv border">
      <img src="../../assets/images/searchvector.png" alt="">
    </div>
    <div class="border pdiv"><p class="mb-0">Find pet Service provider</p></div>

   </div>
   <p class="p1">Search, select your services and find
    experienced pet lover nearby</p></div>
    <div class="item ">
      <div class="d-flex item1">
      <div class="icondiv border">
        <img src="../../assets/images/Vector (1).png" alt="">
      </div>
      <div class="border pdiv"><p class="mb-0">Arrange a meet & greet</p></div>

     </div>
     <p class="p1">Get to know your pet lover in person</p></div>

     <div class="item ">
      <div class="d-flex item1">
      <div class="icondiv border">
        <img src="../../assets/images/Vector (2).png" alt="">
      </div>
      <div class="border pdiv"><p class="mb-0">Book your appointment</p></div>

     </div>
     <p class="p1">Book your pet lover through our safe online
      system, with flexible cancellations
      in case your plans change.</p></div>
  </div>
</div >
<!----------sliderreview-->
<div class="sliderreview">
<div class="  ">
  <h5>Pet owners Reviews</h5>
  <div class=" slider ">
    <owl-carousel-o [options]="customOptions" class=" ">

      <ng-container *ngFor="let review of reviews" class="">
        <ng-template carouselSlide [id]="review._id">
          <a class=" reviewDiv  " [routerLink]="['/discerption',review.serviceProfile._id]">
            <img class=" "  [src]="review.serviceImage" >
            <div class=" d-flex reviewDescription reviewDescriptionrigt reviewDescriptionLeft  py-2 px-1">
              <div class="reviewDescriptionrigt w-100">
                <a [routerLink]="['/discerption',review.serviceProfile]" class=" fw-bolder ">{{review.serviceType}}</a>
                <p  class=" mb-0">{{review.city}}</p>
              </div>
              <div class=" reviewDescriptionLeft w-100 ">
                <div class="d-flex rate w-100 justify-content-end">
                  <img src="../../assets/images/material-symbols-light_star.png" alt=""
                  *ngFor="let star of stars.slice(0,review.rate)" class="star ">
                </div>

                <p class="price mb-0 w-100 ">From <span class="yelllow ">${{review.price}}</span></p>
              </div>
            </div>
          </a>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>


 <div class="morereview mb-5">
  <a >Show more reviews by happy pet owners></a>
 </div></div></div>
 <!--------ra8iiiii 3n el project-->
 <div class="infoo  py-5 ">
  <h4>Why rely on Scooby?</h4>
  <div class="d-flex ">

  <div class=" ">
    <div class="py-4 infosection">
    <div class="d-flex py-3">
      <img src="../../assets/images/pets 1.png">
      <h6 class="mb-0 px-2">Great for your pet</h6>
    </div>
    <p>Get a pet lover to care, not a cagePersonal care and attentionStay in a home near yoursStay in familiar surroundings and items</p>

</div>
<div class="py-4 infosection">
  <div class="d-flex py-3">
    <img src="../../assets/images/pets 1.png">
    <h6 class="mb-0 px-2">A real community</h6>
  </div>
  <p>Scooby team are genuine pet lovers
    from your local neighborhood</p>
</div>

<div class="py-4 infosection">
  <div class="  d-flex py-3">
    <img src="../../assets/images/pets 1.png" alt="">
    <h6 class="mb-0 px-2">Veterinary Coverage</h6>
  </div>
  <p>Enjoy peace of mind with veterinary offers
    coverage for your pet with every booking.
    No hidden gap payments or subscription costs.</p>
</div>
  </div>

  <div class=" ">
  <div class=" w-100">
    <div class=" ">
      <div class="py-4 infosection">
      <div class="d-flex py-3">
       <img src="../../assets/images/pets 1.png" alt="">
        <h6 clas="mb-0 px-2">Personalised and flexible pet care</h6>
      </div>
      <p>Scooby pet lovers provide one-on-one love
        and attention in a cozy home space.</p>
    </div>
    <div class=" ">
      <div class="py-4 infosection">
      <div class="d-flex py-3">
        <img src="../../assets/images/pets 1.png" alt="">
        <h6  class="mb-0 px-2">Great for you</h6>
      </div>
      <p>Simple reservation onlineDaily updates with photos and chatsCustomer service always there for youPayment protection</p></div>
    <div class=" ">
      <div class="py-4 infosection">
      <div class="  d-flex py-3 ">
        <img src="../../assets/images/pets 1.png" alt="">
        <h6  class="mb-0 px-2 ">Trust and Safety</h6>
      </div>
      <p>Profiles that have been reviewedPrevious jobs' reviews and ratingsA community of pet lovers?Communicate directly within platformYour pet is insured</p>
    </div>
  </div>
 </div>
</div>
</div>
</div>

</div>
</div>
<!-----blogs------>
<div class=" mx-5 px-5 ">
  <div class="px-5 header py-4">
   <h3>Blogs</h3>
  <p>Because we love to talk about pets.</p>
  </div>
  <div class=" px-5">
    <div  class="d-flex">
    <div *ngFor="let blog of blogs.slice(0, 3)" class="blog   w-100 mx-2">
      <img [src]="blog.plogImage" class="w-100  " alt="">
      <div class="desc py-3 px-3 w-100"><a class="mb-0">{{blog.description}}</a></div>
    </div>
  </div>

  </div>
</div>





